<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/DWC_employees.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h2>Employers</h2>
		<p>Each day we connect homeowners, business owners, and contractors with workers from the Center. When you're ready, simply stop by and we'll match you with skilled workers who are ready to work, or <a href="#/employers/reserveworker">reserve a worker</a> online.</p>

		<p>All workers are registered with the Center and many have a long history of reliable and courteous service. One of our staff will meet with you and help select a worker with the right skills for your job.</p>

		<p>For answers to common questions, please check the employer <em><a href="#/employers/faq">Frequently Asked Questions</a></em> page for more information.</p>

		<hr />
		<p><em>"I have hired workers from the Day Worker Center for over ten years and have never had any problems. Everyone has been courteous, hard working and trustworthy. The workers have done some very hard jobs, like splitting wood, and difficult and dirty jobs, like helping my husband insulate under the  house, with no complaints and only appreciation for the opportunity to work." &mdash; Patricia</em></p>

		<p>Check out the <a href="#/employers/services">services</a> our workers offer, and <a href="#/employers/reserveworker">reserve a worker</a>, today.</p>
	</div>
</div>
