<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
	<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_employees.jpg" alt="[DWC Members picture]"/>
</div>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
	<h4>Day Worker Center of Mountain View</h4>
	<hr/>
	<h5>Serving Mountain View and surrounding communities since 1996</h5>
	<p>Open Monday to Saturday, 7am - 5pm</p>		
	<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
	<hr/>
	<h5>Day Worker Center Newsletter</h5>
	<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
	<h5>Day Workers' Journal</h5>
	<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
	<hr/>
	<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
</div>

		<!--MAIN CONTENT STARTS HERE -->
<div class="col s12 m8 l8">
	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h3>Frequently Asked Questions</h3>
  		<p><strong>Where are you located?</strong> <br /><iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=113+escuela+ave.+mountain+view+ca&amp;ie=UTF8&amp;hq=&amp;hnear=113+Escuela+Ave,+Mountain+View,+Santa+Clara,+California+94040&amp;gl=us&amp;t=m&amp;ll=37.400369,-122.091751&amp;spn=0.020455,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=113+escuela+ave.+mountain+view+ca&amp;ie=UTF8&amp;hq=&amp;hnear=113+Escuela+Ave,+Mountain+View,+Santa+Clara,+California+94040&amp;gl=us&amp;t=m&amp;ll=37.400369,-122.091751&amp;spn=0.020455,0.025749&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small><br /> We are located at the end of Escuela, going towards Central Expressway, right before the railroad tracks.</p>
		<p><strong>What are your hours?</strong> <br /> We are open Monday-Saturday, 7am-5pm.</p>
  		<p><strong>Who does DWCMV serve? What is the Center's mission?</strong> <br /> We serve employers and workers throughout the Bay Area. We help employers find reliable, skilled and friendly workers easily and safely. Our mission is to connect workers and employers in a safe and supportive environment; empower workers to improve their socio-economic condition through fair employment, education, and job skills training; and participate in advocacy efforts that support the day laborer community.</p>
 		<p><strong>How do I hire someone?</strong> <br /> Start with our <a href="#employers/reserveworker">Reserve a Worker</a> page to send us your request. Or simply call or come by; no appointment is needed. We will provide a worker who meets your specific job needs and who will be ready to go to work.</p>
  		<p><strong>How are workers and employers matched?</strong> <br /> We will match you to the best worker for your job. When you come to the Center we ask for details regarding the job. We then match you with the next worker on the list who meets your needs. For example, if you need an expert painter, we will find the next painter waiting to work: we will not match you with the first person on the list if they do not know how to paint. We also try to accommodate preferences regarding English proficiency and age, and employers are welcome to request workers by name.</p>
		<p><strong>What jobs does a day worker do?</strong> <br /> Usually general labor or cleaning, but our workers have many more skills: <br /></p>
		<ul class="bullet lists">
			<li>Carpeting and Floor installation</li>
			<li>Child care</li>
			<li>Construction</li>
			<li>Cooking</li>
			<li>Driving</li>
			<li>Electrical work</li>
			<li>Entertainment (guitarists, for example)</li>
			<li>Moving</li>
			<li>Plumbing</li>
			<li>Sewing</li>
			<li>Upholstery</li>
			<li>Yard work</li>
		</ul>

		<p><strong>How are DWCMV workers different than hiring from the street? </strong> <br /> Here it's safe, neat and easy. Bargaining with day laborers on the street could be intimidating as you have no knowledge of their background, skills or reliability. The Center helps greatly in the hiring process. All workers are registered at the Center, so that when you tell us the job, we can identify the appropriate worker for you. We have a large skills inventory ready to fulfill your needs. We'll talk with you and the worker in a low-pressure atmosphere to decide an acceptable rate. It is easy to contact the same workers for follow-up and we minimize language problems with our bilingual staff and English classes.</p>
 
		<p><strong>Is reliability or safety a concern?</strong> <br /> No. Although employers and employees undertake a work relationship at their own risk, we take reliability and security very seriously. First, all workers fill out an application and are entered into our database. Then the Center provides job skills training and certifications in a variety of vocations to help them be efficient, safe workers. We contact all employers to collect feedback about the workers and the service provided. Each worker receives ratings, which can be used as a measure of reliability and overall quality. On average, workers receive 4.5 out of 5 stars from employers. Additionally, the community aspect of the Center means the workers you hire are part of an extended family; we know them and are pleased to recommend them to you.</p>
  		
  		<p><strong>Are your workers qualified?</strong> <br /> Yes. Most workers have years of experience in tasks such as yard work, moving, or cleaning. For more complex projects, such as carpentry, we suggest you call in advance to ensure you get a qualified worker suitable for the job. It is important to note that the Center offers job skills training and certifications in a variety of vocations to help workers be efficient, safe employees. We contact all employers to collect feedback about the workers and the service provided. Each worker receives ratings, which can be used as a measure of reliability and overall quality. On average, workers receive 4.5 out of 5 stars from employers. However, we are not an employment agency and therefore have not done background checks. We are a nonprofit and provide job matching as a community resource. </p>
  		
  		<p><strong>Can the Center accommodate me if I need someone who speaks some English.</strong> <br /> Most of the workers speak Spanish as their native language. All workers participate in daily English as a Second Language (ESL) classes at the Center, and most understand quite a bit of English. Some speak English well and some are still learning, so be willing to talk slowly and clearly. We can translate your instructions and provide you with someone who understands exactly what you need done.</p>

  		<p><strong>How much should I pay? Do I pay in cash?</strong> <br /> Typical rates of $15-20 an hour, or by estimate. Cash only, please. Our laborers earn a minimum of $15 an hour, or $20 per hour for heavy labor. Specialty skills require higher pay. Bonuses for a job well done are always appreciated. The actual wage is determined when the job is assigned, so there is a clear understanding prior to leaving the Center. Many of our employers call to say how pleased they were with their worker(s), and are repeat customers. If you have a good experience, please share your experience and recommend us to your family and friends.</p>

		<p><strong>How much of the pay goes to the worker</strong> <br /> 100%. All of your payment will go to the worker. The Day Worker Center does not charge for its services.</p>
  
  		<p><strong>What about transportation?</strong> <br /> Typically you pick up and drop off workers at our Center. Although some workers have cars or bicycles, most rely on public transportation. As the bus system does not always connect to work sites, we suggest that you plan on picking up the workers from the Center and returning them to the Center when your work is done. </p>
  		
  		<p><strong>Is there anything else I can do for workers on the job?</strong> <br /> Yes. Most workers will not have food or drink with them. Please consider providing something to eat and drink during the workday -- they will appreciate it. Please provide access to drinking water and a restroom they can use.</p>

  		<p><strong>What does the Day Worker Center offer besides employment services?</strong> <br /> The DWCMV functions as a Community Center and place of learning. Other offerings include:<br /></p>
		<ul class="bullet lists">
			<li>Workplace etiquette</li>
			<li>Job skills training</li>
			<li>Leadership development</li>
			<li>English as a second language</li>
			<li>Green cleaning techniques</li>
			<li>Weekly health services (dental and vision referrals)</li>
			<li>Weekly mobile Gardner Medical Clinic</li>
			<li>Fitness training (Yoga and Zumba)</li>
			<li>Wage recovery</li>
			<li>Legal referrals</li>
			<li>Computer training</li>
			<li>Breakfast and hot lunch daily</li>
			<li>Community service (street cleaning)</li>
			<li>Advocacy</li>
		</ul>

  		<p><strong>What does a typical day look like at the Day Worker Center?</strong> <br /> Every day is a little bit different, but the workers always receive training or services while waiting for employment. Workers arrive at 7am and check in. They eat breakfast and while waiting for jobs participate in activities such as English classes, job-skills training, or exercise classes. A group of workers prepare the hot meal for noon, and more classes and hands-on workshops continue after lunchtime. Late afternoon is usually reserved for Center maintenance, when everyone contributes to keep the Center clean and organized. </p>

  		<p><strong>Where do you get your funding? </strong> <br /> Community generosity. Most of our funding is from private sources: grants from foundations, donations from individuals and corporations, etc. 72% of our funding comes from foundations, 15% from individual contributors, 10% from communities of faith, 4% from local governments, and other support from local businesses in the form of in-kind donations.</p>

  		<p><strong>How can I support the DWCMV? </strong> <br /> Hiring, volunteering, or donating. Bring a single job to the Center in the next 30 days or recommend  the Center personally to a friend or colleague. You can like us on <a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238">Facebook</a>. You can also connect us with your Neighborhood Group or Homeowners Association and send email testimonial to the association listserv. After using our services, you can follow-up with a Yelp review, or join our Speakers Bureau to get the word out about the DWCMV.</p>

		<p>There are also many volunteer opportunities including English instruction, translation, event planning, publicity and marketing and job development. Check out <a href="#/volunteers/opportunities">the complete list</a>.  </p>

		<p><strong>Am I liable if a worker is injured while working at my residence?</strong> <br />California law requires a homeowner's insurance policy to provide worker's compensation coverage for injuries incurred by a "residential employee" injured during their course of employment by the homeowner. A "residential employee" is someone who has earned more than $100 during the preceding 90 days. Most homeowner's policies also include coverage for personal liability and medical payments to others as a result of injury while on your property; however, you should contact the provider of your homeowner's insurance policy for more information. Finally, as in all situations when you invite a guest onto your property, make certain that the environment is safe and you are not consciously putting someone into a dangerous position. </p>
  		
  		<p><strong>Could I get in any trouble for using a worker who does not have proper documentation?</strong> <br /> Since we are not an employment agency, we do not check documentation for either workers or employers nor perform background checks. We consider information about employers and workers private, and our policy is to never share such information.</p>
 		
 		<p><strong>Do I need to report the wages I pay for tax purposes?</strong> <br /> For one-time, or short-term jobs, reporting wages for tax purposes is not usually necessary. There is no need to report less than $750 paid to an individual per quarter or $1,000 per year.  If you have a long-term project, we suggest you talk to an accountant with any questions. </p>
   
   		<hr />
		<p>If you have any other questions, feel free to call us at (650) 903-4102. We'd be more than happy to provide additional information or answer questions more in depth.</p>
	</div>
</div>