<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/DWC_employees.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h2>Housecleaning Services</h2>
		<p>The Day Worker Center of Mountain View offers you same-day, reliable, safe house cleaners for any cleaning job, large or small, including house, apartment and business cleaning, ironing, and organizing. Employers provide the cleaning supplies and equipment.</p>

		<br />
		<div class="testimonial">
			<p><em>"We found our housekeeper through the Center. She has been 100% reliable, trustworthy, and a pleasure to work with. We've been able to fill other household needs through the Center, such as repairs to our fence and driveway. We genuinely like, enjoy, and admire the workers we've hired through the Center."</em></p>
			<div class="alignright">
				<p><em>Walter B.</em></p>
			</div>
		</div>

		<p>&nbsp;</p>
		<h2>About Our Workers</h2>
		<p>All workers fill out applications and go into our database. The Center calls every employer to request an evaluation and tracks each worker's performance. They are reliable workers, ready to serve. </p>

		<h2>About the DWCMV</h2>
		<p>We are a fourteen-year-old non-profit agency that matches employers with temporary workers in an environment that is safe and dignified for both. The DWCMV is the 2009 Non Profit Organization of the Year of the Mountain View Chamber of Commerce and recipient of the 2008 Mayor's Award of Mountain View, as well as many other honors, and a member of the Chamber of Commerce.</p>

		<p>&nbsp;</p>
		<p><strong>CALL US TODAY: (650) 903-4102</strong></p>

		<p>&nbsp;</p>
		<img src="../images/Housecleaning.jpg" alt="Housecleaning pictures" />
	</div>
</div>