<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_employees.jpg" alt="[DWC Members picture]"/>
</div>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
	<h4>Day Worker Center of Mountain View</h4>
	<hr/>
	<h5>Serving Mountain View and surrounding communities since 1996</h5>
	<p>Open Monday to Saturday, 7am - 5pm</p>		
	<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
	<hr/>
	<h5>Day Worker Center Newsletter</h5>
	<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
	<h5>Day Workers' Journal</h5>
	<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
	<hr/>
	<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
</div>

		<!--MAIN CONTENT STARTS HERE -->
<div class="col s12 m8 l8">
	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h3>Moving Services</h3>
		<p>The Day Worker Center of Mountain View offers you same-day, reliable, safe moving for any moving job, large or small, including boxing, loading, and unloading of goods and furniture. Employers provide the moving vehicle and driver.</p>
		
		<div class="testimonial">
			<p><em>"I have hired day workers from the Center for multiple moves, from house to house, and moving my office to a new building. I have been extremely happy with the diligence and skills of the workers I have hired. They stepped right up and knew what to do. Their work ethic has been tremendous."</em></p>
			<div class="alignright">
				<p><em>Sharon P., Homeowner, Mountain View</em></p>
			</div>
		</div>

		<h4>About Our Workers</h4>
		<p>All workers fill out applications and go into our database. The Center calls every employer to request an evaluation and tracks each worker's performance. They are reliable workers, ready to serve. </p>

		<h4>About the DWCMV</h4>
		<p>We are a fourteen-year-old non-profit agency that matches employers with temporary workers in an environment that is safe and dignified for both. The DWCMV is the 2009 Non Profit Organization of the Year of the Mountain View Chamber of Commerce and recipient of the 2008 Mayor's Award of Mountain View, as well as many other honors, and a member of the Chamber of Commerce.</p>

		<p><strong>CALL US TODAY: (650) 903-4102</strong></p>

		<img src="../images/Moving.jpg" alt="Moving pictures" />
	</div>
</div>