<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<img div class="col s12 m12 l12" src="../images/DWC_employees.png" alt="[DWC Members picture]"/>
</div>
<!-- <div class="row">
	<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
	<h4>Day Worker Center of Mountain View</h4>
	<hr/>
	<h5>Serving Mountain View and surrounding communities since 1996</h5>
	<p>Open Monday to Saturday, 7am - 5pm</p>		
	<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
	<hr/>
	<h5>Day Worker Center Newsletter</h5>
	<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
	<h5>Day Workers' Journal</h5>
	<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
	<hr/>
	<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
</div> -->

<!--MAIN CONTENT STARTS HERE -->
<div class="col s12 m8 l8">
	<div class="main-aboutus">
		<form id="gform" method="POST" name="hire" class="pure-form pure-form-stacked" action="https://script.google.com/macros/s/AKfycbxNPh-rCgOe8IrLAi_DJuhBkwJQKQUJg-qOXRR5uj6PKOFnOucj/exec">
		    <h3 style="color:#C25028">Employer</h3>
		    <hr>
		    <fieldset>
				<div>
					<label for="employerName" style="text-align:right;padding:2px 10px;cursor:default;">* Name:</label>
					<div class="iefix">
						<input type="text" id="employerName" name="employerName" class="type_text" required value="" />
					</div>
				</div>
				
				<div>
					<label for="companyName"  style="text-align:right;padding:2px 10px;cursor:default">Company (if applicable):</label>
					<div class="iefix">
						<input type="text" id="companyName" name="companyName" class="type_text" value="" />
					</div>
				</div>
				
				<div>
					<label for="address" style="text-align:right;padding:2px 10px;cursor:default;">* Address:</label>
					<div class="labelFF iefix">
						<input type="text" id="address" name="address" class="type_text" required value="" />
					</div>
				</div>
				
				<div>
					<label for="city" style="text-align:right;padding:2px 10px;cursor:default;">* City:</label>
					<div class="labelFF iefix">
						<input type="text" id="city" name="city" class="type_textFF"  required
						       value="" /> &nbsp;&nbsp;&nbsp;
						<label for="zip" class="labelFF">* Zip: </label>
						<input type="text" id="zip" name="zip" class="type_textFF" size="10" required value=""/>
					</div>
				</div>				
				
				<div class="labelFF">
					<label for="phone"  style="text-align:right;padding:2px 10px;cursor:default;">* Phone:</label>
					<div class="labelFF iefix">
						<input type="text" id="phone" name="phone" class="type_textFF"  required value="" />
					</div>
				</div>
				
				<div class="labelFF">
					<label for="email" style="text-align:right;padding:2px 10px;cursor:default;">E-mail address:</label>
					<div class="labelFF iefix">						
						<input type="text" id="email" name="email" class="type_text" 
						       value="" />
					</div>
				</div>
				
				<div>
					<label for="hearAboutDWC" style="text-align:right;padding:2px 10px;cursor:default;">How did you hear about us?</label>
					<div class="iefix">
						<input type="text" id="hearAboutDWC" name="hearAboutDWC" class="type_textFF" size="75" value="" />
					</div>
				</div>
			</fieldset>
			
			<br />
			<h3 style="color:#C25028">Job Information</h3>
			<hr>
			
			<fieldset>
				<div>
					<label for="jobdesc"  style="text-align:right;padding:2px 10px;cursor:default;">Job description:</label>
					<div class="iefix">
						<input type="text" id="jobdesc" name="jobdesc" class="type_textFF" size="75" value="" />
					</div>
				</div>
				
				<div>
					<label for="worksite"  style="text-align:right;padding:2px 10px;cursor:default;">Work site:</label>
					<div class="labelFF iefix">
						<textarea id="worksite" name="worksite" class="type_textFF" rows="2" cols="50"></textarea>
						<div style="display:inline;vertical-align:top;">&nbsp;&nbsp;
						<input type="checkbox" class="checkbox" name="sameAddr" id="sameAddr"> Same as above
						</div>
					</div>
				</div>
				
				<div class="labelFF">
					<label for="startDay" style="text-align:right;padding:2px 10px;cursor:default;">* Start date:</label>
					<div class="labelFF iefix">
						<input type="text" id="startDay" name="startDay" class="type_textFF" placeholder="mm/dd/yyyy" required value="" /> &nbsp;&nbsp;
						<label for="startTime" class="labelFF">* Start time:</label>
						<input type="text" id="startTime" name="startTime" class="type_textFF" size="8" required value="" />
						<input type="radio" id="startTimeAmPm" name="startTimeAmPm" class="radio" style="vertical-align:middle;" value="am" />am&nbsp;&nbsp;<input type="radio" id="startTimeAmPm" name="startTimeAmPm" class="radio" style="vertical-align:middle;"  value="pm" />pm					
					</div>
				</div>
				
				<div>
					<label for="workHours" style="text-align:right;padding:2px 10px;cursor:default;">* Estimate work hours:</label>
					<input type="text" id="workHours" name="workHours" class="type_textFF" required value="" />
				</div>
				
				<div>
					<label for="jobSkills" style="text-align:right;padding:2px 10px;cursor:default;">* Job skills:</label>
					<div class="iefix">		
						<input type="text" id="jobSkills" name="jobSkills" class="type_textFF" size="75" required value="" />
					</div>
				</div>
				
				<div>
					<label for="nbrworkers"  style="text-align:right;padding:2px 10px;cursor:default;">* Number of workers:</label>
					<input type="text" id="nbrworkers" name="nbrworkers" class="type_textFF" required value="" />
				</div>
				
				<div>
					<label for="payRate" style="text-align:right;padding:2px 10px;cursor:default;">Pay rate:</label>
					<div class="iefix">
						<input type="number" id="payRate" name="payRate" class="type_textFF" value="" min="15" />
					</div>
				</div>
				
				<div class="labelFF">
					<label for="info" style="text-align:right;padding:2px 10px;cursor:default;">Check all that apply:</label>
					<div class="iefix" style="margin-left:20px">
					<input type="checkbox" id="info" name="info[]" class="checkbox" value="Will provide lunch" />&nbsp;&nbsp;Will provide lunch<br /><input type="checkbox" id="info" name="info[]" class="checkbox" value="Restroom available" />&nbsp;&nbsp;Restroom available<br /><input type="checkbox" id="info" name="info[]" class="checkbox" value="Will bring back to DWC" />&nbsp;&nbsp;Will bring back to DWC<br /><input type="checkbox" id="info" name="info[]" class="checkbox" value="Will pay commute time" />&nbsp;&nbsp;Will pay commute time<br /><input type="checkbox" id="info" name="info[]" class="checkbox" value="Will pay cash" />&nbsp;&nbsp;Will pay cash<br />					</div>
					<label for="englishLevel" style="text-align:right;padding:2px 10px;cursor:default;">* English level needed:</label>
					<div class="iefix" style="margin-left:20px;">
					<input type="radio" id="englishLevel" name="englishLevel" class="radio" required value="None" />&nbsp;&nbsp;None<br /><input type="radio" id="englishLevel" name="englishLevel" class="radio" required value="Understand only" />&nbsp;&nbsp;Understand only<br /><input type="radio" id="englishLevel" name="englishLevel" class="radio" required value="Understand and speak" />&nbsp;&nbsp;Understand and speak<br /><input type="radio" id="englishLevel" name="englishLevel" class="radio" required value="Understand and speak well" />&nbsp;&nbsp;Understand and speak well					</div>
				</div>

						
						<hr>
						
				<div style="margin:0;padding:0">
					<div class="iefix" style="text-align:center">
						<button class="button-success pure-button button-xlarge">
      					<i class="fa fa-paper-plane"></i>&nbsp;Send</button>
					</div>
				</div>
			</fieldset>
		</form>
		<script type="text/javascript">
			if (document.getElementById) {
				var cReserveId = document.getElementById("cReserve");
				cReserveId.elements['employerName'].focus();
			}
			else {
				this.form.elements['employerName'].focus();
			}
		</script>
		
		<br />
		<p>If you are having trouble with this form and want to send an email directly to the Center, click <a href="mailto:info@dayworkercentermv.org?Subject=Reserve%20Worker%20by%20email">here</a>.</p>
		
		<br />
	    <p>Visit our <a href="services.php">Services</a> page for a list of ways that our workers can help you with your projects.</p>
	</div>


		<div id="overlay"></div>
						
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
  		<script data-cfasync="false" type="text/javascript" src="./../../js/form-submission-handler.js"></script>
		<script>
		$(document).ready(function(){
			$("#sameAddr").change(function(){
				var $cbox = $(this);
				if($cbox.prop('checked')) {
					$('#worksite').val($('#address').val() + "\n" + $('#city').val() + ', ' + $('#zip').val());
				}
				else {
					$('#worksite').val('');
				}
			}).change();
		
					});
		</script>
			</div>
		</div>
	</div>
</div>
