<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
	<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_employees.jpg" alt="[DWC Members picture]"/>
</div>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
	<h4>Day Worker Center of Mountain View</h4>
	<hr/>
	<h5>Serving Mountain View and surrounding communities since 1996</h5>
	<p>Open Monday to Saturday, 7am - 5pm</p>		
	<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
	<hr/>
	<h5>Day Worker Center Newsletter</h5>
	<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
	<h5>Day Workers' Journal</h5>
	<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
	<hr/>
	<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
</div>

		<!--MAIN CONTENT STARTS HERE -->
<div class="col s12 m8 l8">
	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h3>Services</h3>
		<p>All of the DWCMV workers fill out applications and go into our database. The Center calls every employer to request an evaluation and tracks each worker's performance. These workers are reliable and ready to serve. We'll select the appropriate workers for your job and guide you through the hiring process, all without charging you or the workers any fees.</p>
		<p>The Day Worker Center's workers offer a wide range of skills that typically fall into the following areas:</p>

		<p><strong>In The Yard</strong></p>
	   	<ul class="bullet lists">
			<li>Landscaping</li>
			<li>Sprinkler systems</li>
			<li>Yard Work</li>
			<li><a href="#/employers/gardening">Gardening</a></li>
	   	</ul>
		<p><strong>Around The House</strong></p>
	   	<ul class="bullet lists">
			<li>Childcare</li>
			<li>Cooking</li>
			<li>Decorating</li>
			<li>Eldercare</li>
			<li>Embroidery</li>
			<li><a href="http://dayworkersjournal.wordpress.com/2011/08/04/green-house-cleaning/">Green Housecleaning</a></li>
			<li><a href="#/employers/housecleaning">Housecleaning</a></li>
			<li><a href="#/employers/moving">Moving</a></li>
			<li>Painting</li>
			<li>Tailoring</li>
			<li>Upholstery</li>
			<li>Window washing</li>
		</ul>

		<p><strong>Construction</strong></p>
		<ul class="bullet lists">
			<li>Carpentry</li>
			<li>Drywall/stucco</li>
			<li>Electrical work</li>
			<li>Flooring</li>
			<li>Furniture assembly</li>
			<li>General Labor</li>
			<li>Handyman</li>
			<li>Plumbing</a></li>
	    </ul>
		<p><strong>Event Help</strong></p>
		<ul class="bullet lists">
			<li>Catering</li>
			<li>Entertainment</li>
			<li>Event setup and clean up</li>
			<li>Janitorial services</li>
	    </ul>
		<p><strong>Promotion</strong></p>
	    <ul class="bullet lists">
			<li>Leafleting</li>
			<li>Sign Dancing</li>
			<li>Envelope stuffing</li>
	    </ul>

		<p>Use the links above to find out more about these services. Or <a href="#/aboutus/contactus">call or visit</a> the Center to learn more.
		</p>

		<img src="../images/Moving.jpg" alt="Moving pictures" />
	</div>
</div>