<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/DWC_employees.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h2>Services</h2>
		<p>All of the DWCMV workers fill out applications and go into our database. The Center calls every employer to request an evaluation and tracks each worker's performance. These workers are reliable and ready to serve. We'll select the appropriate workers for your job and guide you through the hiring process, all without charging you or the workers any fees.</p>
		<p>The Day Worker Center's workers offer a wide range of skills that typically fall into the following areas:</p>

		<p><strong>In The Yard</strong></p>
	   	<ul class="bullet">
			<li>Gardening</li>
			<li>Landscaping</li>
			<li>Sprinkler systems</li>
			<li>Yard Work</li>
			<li><a href="#/employers/gardening">Gardening</a></li>
	   	</ul>
		<p>&nbsp;</p>
		<p><strong>Around The House</strong></p>
	   	<ul class="bullet">
			<li>Childcare</li>
			<li>Cooking</li>
			<li>Decorating</li>
			<li>Eldercare</li>
			<li>Embroidery</li>
			<li><a href="http://dayworkersjournal.wordpress.com/2011/08/04/green-house-cleaning/">Green Housecleaning</a></li>
			<li><a href="#/employers/housecleaning">Housecleaning</a></li>
			<li><a href="#/employers/moving">Moving</a></li>
			<li>Painting</li>
			<li>Tailoring</li>
			<li>Upholstery</li>
			<li>Window washing</li>
		</ul>

		<p>&nbsp;</p>
		<p><strong>Construction</strong></p>
		<ul class="bullet">
			<li>Carpentry</li>
			<li>Drywall/stucco</li>
			<li>Electrical work</li>
			<li>Flooring</li>
			<li>Furniture assembly</li>
			<li>General Labor</li>
			<li>Handyman</li>
			<li>Plumbing</a></li>
	    </ul>
		<p>&nbsp;</p>
		<p><strong>Event Help</strong></p>
		<ul class="bullet">
			<li>Catering</li>
			<li>Entertainment</li>
			<li>Event setup and clean up</li>
			<li>Janitorial services</li>
	    </ul>
		<p>&nbsp;</p>
		<p><strong>Promotion</strong></p>
	    <ul class="bullet">
			<li>Leafleting</li>
			<li>Sign Dancing</li>
			<li>Envelope stuffing</li>
	    </ul>

		<p>&nbsp;</p>
		<p>Use the links above to find out more about these services. Or <a href="/aboutus/contact_us.php">call or visit</a> the Center to learn more.
		</p>

		<p>&nbsp;</p>
		<img src="./images/Moving.jpg" alt="Moving pictures" />
	</div>
</div>