<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/employers/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/employers/services">Services | </a></li>
			<li class="subnav"><a href="#/employers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/employers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
	<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_employees.jpg" alt="[DWC Members picture]"/>
</div>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
	<h4>Day Worker Center of Mountain View</h4>
	<hr/>
	<h5>Serving Mountain View and surrounding communities since 1996</h5>
	<p>Open Monday to Saturday, 7am - 5pm</p>		
	<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
	<hr/>
	<h5>Day Worker Center Newsletter</h5>
	<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
	<h5>Day Workers' Journal</h5>
	<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
	<hr/>
	<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
</div>

		<!--MAIN CONTENT STARTS HERE -->
<div class="col s12 m8 l8">
	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h3>Success Stories</h3>
		<p><em>"I have hired workers from the Day Worker Center for over ten years and have never had any problems. Everyone has been courteous, hard working and trustworthy.  The workers have done some very hard jobs, like splitting wood, and difficult and dirty jobs, like helping my husband insulate under the  house, with no complaints and only appreciation for the opportunity to work.</em></p>

		<p><em>"I have also become good friends with one worker and his wife and daughter and we have done many things to help each other's families. I have relearned that we all want the same things in our lives, to be able to work and take care of ourselves and our families."</em></p>
		
		<p>Our workers have helped out in backyards, construction sites, community events (like the Art &amp; Wine Festival), homes (as maids, cooks, and child-care givers), community gardens, and more. And the <a href="#/employers/services">list of tasks they can perform is even longer</a>.</p>
	</div>
</div>