<form ng-submit="updateUser()">
                <div class="row">
                    <div class="col s4">Email Address</div>
                    <div class="col s8"><input type="text" ng-model="User.emailAddress"></div>
                </div>
                <div class="row">
                    <div class="col s4">First Name</div>
                    <div class="col s8"><input type="text" ng-model="User.firstName"></div>
                </div>
                <div class="row">
                    <div class="col s4">Last Name</div>
                    <div class="col s8"><input type="text" ng-model="User.lastName"></div>
                </div>
                 <div class="row">
                    <div class="col s4">Password</div>
                    <div class="col s8"><input type="password" ng-model="User.password"></div>
                </div>
                 <div class="row">
                    <div class="col s4">Confirm Password</div>
                    <div class="col s8"><input type="password" ng-model="User.confirmPassword"></div>
                </div>
                <div class="row">
                    <div class="col s4">Phone Number</div>
                    <div class="col s8"><input type="number" ng-model="User.phoneNumber"></div>
                </div>
                <div class="row">
                    <div class="col s12"><input ng-click="updateUser()" type="submit"></div>
                </div>
</form>
<a ng-href="#/staff">back to home</a>
