            <form ng-submit="newUser()">
                <div class="row">
                    <div class="col s4">User Name</div>
                    <div class="col s8"><input type="text" ng-model="newUser.userName"></div>
                </div>
                <div class="row">
                    <div class="col s4">Email Address</div>
                    <div class="col s8"><input type="text" ng-model="newUser.emailAddress"></div>
                </div>
                <div class="row">
                    <div class="col s4">Password</div>
                    <div class="col s8"><input type="text" ng-model="newUser.password"></div>
                </div>
                <div class="row">
                    <div class="col s4">Confrim Password</div>
                    <div class="col s8"><input type="text" ng-model="newUser.password"></div>
                </div>
                <div class="row">
                    <div class="col s4">First Name</div>
                    <div class="col s8"><input type="text" ng-model="newUser.firstName"></div>
                </div>
                <div class="row">
                    <div class="col s4">Last Name</div>
                    <div class="col s8"><input type="text" ng-model="newUser.lastName"></div>
                </div>
                <div class="row">
                    <div class="col s4">Phone Number</div>
                    <div class="col s8"><input type="number" ng-model="newUser.phoneNumber"></div>
                </div>
                <div class="row">
                    <div class="col s12"><input type="submit"></div>
                </div>
            </form>
