
<div class="row">
    <div class="right-align" style="margin-right: 3%">
      <ul class="subnav">
        <li class="subnav"><a href="#/staff"><button class="waves-effect waves-light"> Dashboard </button></a></li>
        <li class="subnav"><a href="#/staff/jobs"><button class="waves-effect waves-light">All Jobs </button></a></li>
        <li class="subnav"><a href="#/staff/jobs/reports"><button class="waves-effect waves-light">Reports </button></a></li>
        <li class="subnav"><a href="#/staff/mails"><button class="waves-effect waves-light">Contact Requests </button></a></li>
        <li class="subnav"><div ng-if="userLevel!=1"><a href="#/staff/pages"><button class="waves-effect waves-light">Edit Front Page</button> </a></div></li>
        <li class="subnav"><a ng-click='logout()'><button class="waves-effect waves-light">Log Out</button></a></li>
      </ul>
    </div>
  </div>


  <a href="#/staff"> Go Back </a>

  <div class="row">
  	<h1>Edit Page Images</h1>
  	<form ng-submit="update()">
  		Front Page Banner: <input type="file" name="" ng-model="page.frontPageImage" base-sixty-four-input>
  		Front Page Link: <input type="text" name="" ng-model="page.frontPageLink">
  		<hr>
  		<br>
  		Events Page Banner: <input type="file" name="" ng-model="page.eventPageImage" base-sixty-four-input>
  		<hr>
  		<br>
  		<input type="submit" name="submit" value="update">
  	</form>
  </div>
</div>
