<nav>
<div class="nav-wrapper">
	<ul>
		<li><a href="#/staff/jobs">All Jobs</a></li>
		<li><a href="#/staff/jobs/reports">Reports</a></li>
		<li><a href="#/staff/pages">Edit Front Page</a></li>
		<li><a href="#/staff/mails">Contact Request</a></li>
	</ul>
	<a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
</nav>




<a href="#/staff"> Go Back </a>

<div class="row">
	<h1>Edit Page Images</h1>
	<form ng-submit="update()">
		Front Page Banner: <input type="file" name="" ng-model="page.frontPageImage" base-sixty-four-input>
		Front Page Link: <input type="text" name="" ng-model="page.frontPageLink">
		<hr>
		<br>
		Events Page Banner: <input type="file" name="" ng-model="page.eventPageImage" base-sixty-four-input>
		<hr>
		<br>
		<input type="submit" name="submit" value="update">	
	</form>
	
</div>