<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/events">Events | </a></li>
			<li class="subnav"><a href="#/news">News | </a></li>
			<li class="subnav"><a href="#/partners">Partners | </a></li>
			<li class="subnav"><a href="#/facility">Facility | </a></li>
			<li class="subnav"><a href="#/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/career">Careers | </a></li>
			<li class="subnav"><a href="#/contactus">Contact Us</a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/dwc_folks.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus career">
		<h2>Career Opportunities</h2>
		<hr />
		<h3>About the Day Worker Center of Mountain View</h3>
		<p>The Day Worker Center is a non-profit organization that connects day workers and employers with dignity.  
		The Center helps employers find reliable, skilled, and friendly workers, while empowering workers to improve 
		their socio-economic condition through education, advocacy and job skills training.  Workers are most often 
		employed for yard work, house cleaning, child care, and moving, but also perform tasks such as construction, 
		painting, plumbing, electrical work, cooking and sewing.  Workers are available for 24/7 by previous 
		arrangement or employers may drop in:  7 am - 5 pm Monday through Saturday.</p>
		<hr />
	</div>
</div>