<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/events">Events | </a></li>
			<li class="subnav"><a href="#/news">News | </a></li>
			<li class="subnav"><a href="#/partners">Partners | </a></li>
			<li class="subnav"><a href="#/facility">Facility | </a></li>
			<li class="subnav"><a href="#/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/career">Careers | </a></li>
			<li class="subnav"><a href="#/contactus">Contact Us</a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/dwc_folks.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h2>Contact Us</h2>

		<h4>Street Address:</h4>
		<p>
			113 Escuela Ave.<br />
			Mountain View, CA 94040<br />
			650-903-4102<br />
			650-903-4106
		</p>

		<p>Please fill out this form to contact us.<br />
		(* indicate required fields)</p>		


		<form id="cInfo" name="cInfo" action="/aboutus/contact_us.php" method="post" class="form">
			<fieldset>
				<div>
					<label for="firstName">* First Name:</label>
					<div class="iefix">
						<input id="firstName" name="firstName" type="text" class="type_text" value="" />
					</div>
				</div>
				<div>
					<label for="lastName">* Last Name:</label>
					<div class="iefix">
						<input id="lastName" name="lastName" type="text" class="type_text" value="" />
					</div>
				</div>
				<div>
					<label for="email">E-mail Address:</label>
					<div class="iefix">
						<input id="email" name="email" type="text" class="type_text" value="" />
					</div>
				</div>
				<div>
					<label for="phone">Phone:</label>
					<div class="iefix">
						<input id="phone" name="phone" type="text" class="type_text" value="" />
					</div>
				</div>
				(* One of E-mail Address or Phone is required)<br /><br />
				<div>
					<label for="message">* Your message:</label>
					<div class="iefix">
						<textarea id="message" name="message" class="type_text"></textarea>
					</div>
				</div>
				<div>
					<div class="iefix">
					<input type="submit" name="cSubmit" value="Submit" />
					</div>
				</div>
			</fieldset>
		</form>
		<script type="text/javascript">
			if (document.getElementById) {
				var cInfoId = document.getElementById("cInfo");
				cInfoId.elements['firstName'].focus();
			}
			else {
				this.form.elements['firstName'].focus();
			}
		</script>
	</div>
</div>