<div class="row">
  </div>
  <div class="row">
<div class="col s12 m4 l4"> 
    <div class="card small hide-on-med-and-down">
    <div class="card-image">
          <img src="./../../images/statement_bgrd.gif">
            <span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
            <p>"We are realizing our dreams here"</p>
      <p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
  </div>
</div>
  <img div class="col s12 m12 l8" src="../images/DWC_donate.jpg" alt="[DWC Members picture]"/>
</div>
<div class="row">
  <div class="col s12 m4 l4"> 
    <h4>Day Worker Center of Mountain View</h4>
    <hr/>
    <h5>Serving Mountain View and surrounding communities since 1996</h5>
    <p>Open Monday to Saturday, 7am - 5pm</p>   
    <p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>    
    <hr/>
    <h5>Day Worker Center Newsletter</h5>
    <p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
    <h5>Day Workers' Journal</h5>
    <p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
    <hr/>
    <p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
  </div>
  
  <div class="col s12 m8 l8">
    <!--MAIN CONTENT STARTS HERE -->
    <div class="main-aboutus">
        <h2>Donate</h2>
        <hr/>
        
        <table>
          <tr><td><a href="http://svgives.razoo.com/story/Day-Worker-Center-Of-Mountain-View"><img src="../images/svgives20150505.jpg"></a></td>
          	<td style="padding-left:15px;"><div style="font-family:arial,helvetica;font-size:1.5em">
            	<a href="http://svgives.razoo.com/story/Day-Worker-Center-Of-Mountain-View" style="text-decoration:none;">DAY WORKER CENTER OF MOUNTAIN VIEW</a></div>	
            	<div style="font-family:arial,helvetica;padding-top:10px;font-size:1.2em;">
                Help support DAY WORKER CENTER OF MOUNTAIN VIEW!
              	<br>Donate or click <a href="https://www.facebook.com/dialog/feed?app_id=250457581338&link=http%3A%2F%2Fsvgives.razoo.com%2Fstory%2FDay-Worker-Center-Of-Mountain-View%3Ffb_ref%3DpUdUB1FHI&picture=http://d1byvvo791gp2e.cloudfront.net/public/assets/media/video/you_tubes/000/551/236/images/size_120x120_story_video.png?1430425506&name=DAY%20WORKER%20CENTER%20OF%20MOUNTAIN%20VIEW&caption=%20&description=Help%20support%20DAY%20WORKER%20CENTER%20OF%20MOUNTAIN%20VIEW%20on%20Razoo%21%20Donate%20or%20share%20this%20post%20to%20spread%20the%20word.&redirect_uri=http%3A%2F%2Fsvgives.razoo.com%2Fstory%2FDay-Worker-Center-Of-Mountain-View%3Ffb_ref%3DpUdUB1FHI"><img src="../images/facebook_mini_14x14.png"></a><a href="https://plus.google.com/share?url=http%3A%2F%2Fsvgives.razoo.com%2Fstory%2FDay-Worker-Center-Of-Mountain-View"><img src="../images/googleplus14x14.jpg"></a> to spread the word.
            	</div>
          	</td>
          </tr>
        </table>
        <p>&nbsp;</p>
        
        
        <p>The Day Worker Center of Mountain View is a 501(c)3 non-profit that has been supported by grants from organizations such as the Silicon Valley Community Foundation, Philanthropic Ventures Foundation, the Zellerbach Foundation, Los Altos Community Foundation, Wakerly Family Foundation, the Mountain View Voice, the Catholic Campaign For Human Development (just to name a few), and supporters like you. Funding from foundations is wonderful but is not something that an organization can rely on forever. To survive, we must increase the  support we get from individuals like you. Can you help us today with an online donation or check?</p>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="item_name" value="DWC - General Operations" />
      	<input type="hidden" name="cmd" value="_donations" />
      	<input type="hidden" name="business" value="craig@dayworkercentermv.org" />
      	<input type="hidden" name="no_shipping" value="1" />
      	<input type="hidden" name="return" value="http://www.dayworkercentermv.org/" />
      	<input type="hidden" name="cancel_return" value="http://www.dayworkercentermv.org/" />
      	<input type="hidden" name="currency_code" value="USD" />
      	<input type="hidden" name="tax" value="0" />
      	<input type="hidden" name="lc" value="US" />
      	<input type="hidden" name="bn" value="PP-DonationsBF" />
      	<img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="Donate to DWC of Mountain View" border="0" width="1" height="1" />
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit2" alt="Donate to the DWC General Operations Fund" />
      </form>

      <br />
      <p>Prefer to send a check? If so, please mail it to: Day Worker Center of Mountain View, 113 Escuela Ave., Mountain View, CA 94040 </p>
      	
    	<hr>
    	<div style="margin:0 auto;font-size:1em;padding:15px 40px;text-align:center;font-family:helvetica,arial,sans-serif">
    	The Day Worker Center of Mountain View is a 501(c)3 non-profit<br>(Federal Tax Identification Number: 20-2874108).
    </div>
  </div>
</div>