<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/events">Events | </a></li>
			<li class="subnav"><a href="#/news">News | </a></li>
			<li class="subnav"><a href="#/partners">Partners | </a></li>
			<li class="subnav"><a href="#/facility">Facility | </a></li>
			<li class="subnav"><a href="#/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/career">Careers | </a></li>
			<li class="subnav"><a href="#/contactus">Contact Us</a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/dwc_folks.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus"><h2>Upcoming Events</h2>
		<hr />
		<p>&nbsp;</p>
		<h3>&iexcl;Tocar y Danzar! on Saturday, October 8, 2016 @7:30PM.</h3>
		<h4>an evening of music and dancing with Cabanijazz Project.	
		</h4>
		<p/>
		
		<h3>Yoga Classes on Thursdays at 5:30</h3>
		<p/>
		 
		<h3>Tenant Rights</h3>
		<h4>Presentation by Katherine and George Alexander Law Clinic.</h4>
		<p/>
		
		<h3>Workers’ Rights</h3>
		<h4>Presentation by Katherine and George Alexander Law Clinic.</h4>
		<p/>
		
		<h3>Etiquette Presentation – First Impression</h3>
		<h4>For workers' only</h4>
		<p/>
		
		<h3>Wellbeing Presentation</h3>
		<h4>For workers' only</h4>
		<p/>
		<hr />
	</div>
</div>