<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/events">Events | </a></li>
			<li class="subnav"><a href="#/news">News | </a></li>
			<li class="subnav"><a href="#/partners">Partners | </a></li>
			<li class="subnav"><a href="#/facility">Facility | </a></li>
			<li class="subnav"><a href="#/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/career">Careers | </a></li>
			<li class="subnav"><a href="#/contactus">Contact Us</a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->
	
	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/dwc_folks.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->
	
	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h2>Facility</h2>
		
		<p class="dwc-img" id="dwc-img-text">Our worker-maintained facility is centered around a large multi-purpose room, where we hold weekly worker meetings, classes, and events. Volunteer-led classes include instruction in English as a Second Language (ESL), high school equivalency (GED), computers, blogging, music, sewing, cooking, canning, green housecleaning, CPR, and after-school tutoring programs for kids.</p> 
		<p class="dwc-img" id="dwc-img"><img src="../images/img_left_on_facility.jpg" alt="[DWC Facility picture]" width="270" height="150" align="right" /> </p>
		<p>The DWCMV currently receives support for operations from a combination of foundation and private donor support, as well as receiving significant in-kind services from cooperating agencies (see our <a href="partners.php">Parnters</a> page for more information). In our permanent location, the DWCMV saves on rental costs and enjoys stable, efficient operations in a facility suited to its needs and purposes.</p>
		<p>IN 2008, The DWCMV was able to purchase our property at 113 Escuela Avenue in Mountain View thanks to the generous support of the community. After a successful capital campaign, we were thrilled to move in to our fully remodeled community center. The single-story 3,496 square foot warehouse has been upgraded to include new electrical and heating/ventilation systems, kitchen, bathrooms, patio area, and roof.</p>
	</div>
	<p>&nbsp;</p>
</div>
