<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/reserveworker">Reserve Worker | </a></li>
			<li class="subnav"><a href="#/services">Services | </a></li>
			<li class="subnav"><a href="#/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/DWC_employees.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<h2>Gardening Services</h2>
		<p>The Day Worker Center of Mountain View offers you same-day, reliable, safe gardeners for any gardening/yard work job, large or small, including yard cleanup, planting, garden maintenance, picking fruit, and cleaning gutters. Employers provide the gardening supplies and equipment.</p>
		<br />
		<div class="testimonial">
			<p><em>"I have hired workers from the center at least monthly for more than 10 years. I have never had a single problem with anyone and I do not worry about them coming in my yard or in my home. All the workers have been courteous and appreciative of the chance to work. I have hired workers to garden, dig holes, spread mulch, pull weeds, paint, clean, sweep, pick up branches, move heavy items, patch plaster, split wood, etc. Maria runs the Center in a very professional way and they always call me back to see if I was satisfied."</em></p>
			<div class="alignright">
				<em>Patricia E., Homeowner, Los Altos</em>
			</div>
		</div>

		<p>&nbsp;</p>
		<h2>About Our Workers</h2>
		<p>All workers fill out applications and go into our database. The Center calls every employer to request an evaluation and tracks each worker's performance. They are reliable workers, ready to serve. </p>

		<h2>About the DWCMV</h2>
		<p>We are a fourteen-year-old non-profit agency that matches employers with temporary workers in an environment that is safe and dignified for both. The DWCMV is the 2009 Non Profit Organization of the Year of the Mountain View Chamber of Commerce and recipient of the 2008 Mayor's Award of Mountain View, as well as many other honors, and a member of the Chamber of Commerce. </p>

		<p>&nbsp;</p>
		<p><strong>CALL US TODAY: (650) 903-4102</strong></p>

		<p>&nbsp;</p>
		<img src="../images/Gardening.jpg" alt="Gardening pictures" />
	</div>
</div>
