<div ng-controller="MainPageController">
	<!-- Page Layout here -->
	<div class="row">
			<div class="col s12 m4 l3 grey"> 
			<!-- Note that "m4 l3" was added -->
			<!-- Grey navigation panel

			This content will be:
			3-columns-wide on large screens,
			4-columns-wide on medium screens,
			12-columns-wide on small screens  -->

			side

		</div>

		<div class="col s12 m8 l9 teal"> 
			<!-- Note that "m8 l9" was added -->
			<!-- Teal page content

			This content will be:
			9-columns-wide on large screens,
			8-columns-wide on medium screens,
			12-columns-wide on small screens  -->

			<!-- put the sub tab in grids and account for readjusting on screen size just like the samples below -->
			<div class="row">
				<div class="col s12 deep-orange darken-1"><p>s12 put the sub tab in grids and account for readjusting on screen size just like the samples</p></div>
				<div class="col s12 m4 l2 deep-orange darken-1"><p>s12 m4</p></div>
				<div class="col s12 m4 l8"><p>s12 m4</p></div>
				<div class="col s12 m4 l2"><p>s12 m4</p></div>
			</div>


			main
		</div>

	</div>
	<!-- haha -->
</div>