<div ng-controller="MainPageController">
	
	<!-- Page Layout here -->
	<div class="row">

		<div class="col s12 m4 l3 teal"> <!-- Note that "m4 l3" was added -->
			<!-- Grey navigation panel

			This content will be:
			3-columns-wide on large screens,
			4-columns-wide on medium screens,
			12-columns-wide on small screens  -->
			side
		</div>

		<!-- <div class="col s12 m8 l9 blue"> Note that "m8 l9" was added -->
		<!-- <div class="col s12 m8 l9 blue" style="margin-top: -1px"> -->
		<div class="col s12 m8 l9 blue">
			<!-- Teal page content
			haha
			This content will be:
			9-columns-wide on large screens,
			8-columns-wide on medium screens,
			12-columns-wide on small screens  -->
			haha
		</div>

	</div>

</div>