<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/events">Events | </a></li>
			<li class="subnav"><a href="#/news">News | </a></li>
			<li class="subnav"><a href="#/partners">Partners | </a></li>
			<li class="subnav"><a href="#/facility">Facility | </a></li>
			<li class="subnav"><a href="#/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/career">Careers | </a></li>
			<li class="subnav"><a href="#/contactus">Contact Us</a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/dwc_folks.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">

		<h2>Newsletters</h2>
		<hr />

		<h3>Latest Newsletter</h3>

		<p>Our latest newsletter is available for download ... </p>

		<p>2015 Newsletter -- Area rents out of control, "A Daring Journey:" stories of courage and perseverance, edible garden grows with recology and leadership, new kitchen "cooking" thanks to you, workers teach driving skills to peers, creating a network for change, and more.</p>
		<p><a href="/aboutus/newsletter/2015_Day-Worker-Center-Newsletter.pdf"> Fall, 2015 (PDF) </a></p>
		<p>&nbsp;</p>
		<hr />

		<h2>Previous Newsletters</h2>
		<p>&nbsp;</p>
		<h4 class="title">Fall, 2015</h4>
		<p>2014 Newsletter -- Heart of Our Home: News on kitchen upgrades, who's who volunteers at the DWC, Paul's story on how your volunteering efforts and donations changes his family live, Maria selections into Rockwood Leadership Institute, and more.</p>
		<p><a href="/aboutus/newsletter/DWC_Newsletter_Dec2014.pdf">December, 2014 (PDF)</a></p>
		<p>&nbsp;</p>

		<h4 class="title">November, 2013</h4>
		<p>Our 2013 Newsletter -- Sue&ntilde;os de Esperanza, Maria Named "Local Hero", Through the Eyes of One Family, Recognition Wall unveiled, and more!</p>
		<p><a href="/aboutus/newsletter/DWC_Newsletter_Nov2013.pdf">November, 2013 (PDF)</a></p>
		<p>&nbsp;</p>

		<h4 class="title">December, 2012</h4>

		<p>Our 2012 Annual Edition -- Job drive, worker artworks on display at Mountain View City Hall, national networking, workers giving back, and more!</p>
		<p><a href="/aboutus/newsletter/DWC_Newsletter_Dec2012.pdf
		">December 2012 (PDF)</a></p>

		<p>&nbsp;</p>

		<h4 class="title">September, 2012</h4>

		<p>Job development campaign, worker handicrafts for sale on Facebook, meet the summer interns.</p>
		<p><a href="/aboutus/newsletter/DWC_Newsletter_Sep2012.pdf
		">September 2012 (PDF)</a></p>


		<p>&nbsp;</p>
		<h4 class="title">June, 2012</h4>
		<p>Extended hours for the Center ... volunteer appreciation ... and job development.</p>
		<p><a href="/aboutus/newsletter/DWC_Newsletter_June2012.pdf
		">June 2012 (PDF)</a></p>


		<p>&nbsp;</p>

		<h4 class="title">March, 2012</h4>
		<p>Volunteer of the year ... healthy cooking classes ... On the Road to Justice (6th National Assembly of Day Workers).</p>
		<p><a href="/aboutus/newsletter/DWC_newsletter_Mar2012.pdf
		">March 2012 (PDF)</a></p>


		<p>&nbsp;</p>

		<h3>December, 2011</h3>
		<p>Fifteen years of service ... anniversary party ... a day in the life ... Borderless Dreams ... a documentary of our local workers ... and snapshots of our many workshops and classes.</p>
		<p><a href="/aboutus/newsletter/DWC_newsletter_Dec2011.pdf">December 2011 (PDF)</a></p>

		<p>&nbsp;</p>

		<h3>Fall 2011</h3>

		<p>Learning new skills at the center ... By the numbers ... A model for day workers from other cities ... and more! <br><a href="/aboutus/newsletter/dwc_web_version.html"
		>Fall 2011 (Web Version)</a></p>

		<p>&nbsp;</p>

		<h3>March 2010</h3>
		<p>Community service ... Victoria Verde ... Frequently asked questions ... and more! <br><a href="/aboutus/newsletter/DWC_newsletter_Mar2010.pdf
		">March 2010 (PDF)</a></p>

		<p>&nbsp;</p>

		<h3>Feb 2010</h3>
		<p>Open house ... Community outreach ... Spare fruit ... and more! <br><a href="/aboutus/newsletter/DWC_newsletter_Feb2010.pdf
		">February 2010 (PDF)</a></p>

		<p>&nbsp;</p>

		<h3>November 2009</h3>
		<p>Meeting challenges ... Giving back ... and more! <br><a href="/aboutus/newsletter/DWC_newsletter_Nov2009.pdf
		">November 2009(PDF)</a></p>
	</div>
</div>