<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/events">Events | </a></li>
			<li class="subnav"><a href="#/news">News | </a></li>
			<li class="subnav"><a href="#/partners">Partners | </a></li>
			<li class="subnav"><a href="#/facility">Facility | </a></li>
			<li class="subnav"><a href="#/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/career">Careers | </a></li>
			<li class="subnav"><a href="#/contactus">Contact Us</a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/dwc_folks.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
		<p>The following local agencies contribute essential support to the Center, enabling us to provide comprehensive services to our community.</p>
		<ul class="bullet">
		    <li>Silicon Valley Bicycle Exchange</li>
		    <li>Gardner Medical Clinic</li>
		    <li>Stanford Legal Clinic</li>
		    <li>East Palo Alto Legal Clinic</li>
		    <li>Community Services Agency</li>
		    <li>Katherine and George Alexander Legal Clinic</li>
		    <li>CHAC (Community Health Awareness Council)</li>
		    <li><em>and others ...</em></li>
		</ul>
		<p>The Day Worker Center continues to collaborate with a variety of community partners, including the following:</p>

		<ul class="bullet">
			<li>Notre Dame School</li>
			<li>Castilleja School</li>
			<li>Foothill Community College</li>
			<li>Santa Clara University</li>
			<li>Stanford University</li>
			<li>The RotaCare Clinic at El Camino Hospital</li>
			<li>SIREN (Services, Immigrant Rights, and Education Network)</li>
			<li>Peninsula Interfaith Action, Rebuilding Peninsula-San Mateo and Santa Clara Counties</li>
			<li>Consulates from Mexico, El Salvador and Peru</li>
			<li>Tzu Chi Foundation</li>
			<li>Menlo Presbyterian Church</li>
			<li>Bay Light Community Church</li>
			<li>Mountain View Chamber of Commerce</li>
			<li>East Palo Alto Community Legal Services</li>
			<li>Lions Club of Mountain View</li>
			<li>Kiwanis Club of Mountain View</li>
			<li>Rotary Clubs of Mountain View and Los Altos.</li>
		</ul>
	</div>
</div>