<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/programs">Programs | </a></li>
			<li class="subnav"><a href="#/workers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/workers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/forWorkers.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
	<h2>Trabajadores / Workers</h2>
<p class="intro">&iexcl;Bienvenidos! "El Centro de los Trabajadores de Mountain View" se compromete a proveer las herramientas necesarias para ayudarle a usted como trabajador y como miembro de esta comunidad.  Estamos aqu&iacute; para asistirle a construir una vida m&aacute;s placentera para el bien suyo, de su familia y de nuestro vecindario.</p>

<p><em>Welcome! The Day Worker Center of Mountain View is committed to providing tools to empower you as a worker and as a member of this community. We are here to help you to build a good life, for the good of your family and for the good of our neighborhood. </em></p>

<p>Sentimos gran orgullo de poder apoyarle en sus esfuerzos, otorgando servicios de empleo gratis como lo son la b&uacute;squeda del empleador adecuado y entrenamiento ocupacional.  Tambi&eacute;n tratamos de ayudarle a que se integre plenamente a la vida de nuestra comunidad ofreciendo clases de Ingl&eacute;s, Ingl&eacute;s como segunda lengua (ESL), y de c&oacute;mo tomar ventaja de algunos servicios sociales entre otras.</p>

<p><em>We are proud to support you in your efforts by providing free employment services, such as employer matching and occupational training. We also seek to help you enter more fully into the life of the community by offering classes in English as a Second Language (ESL), and how to take advantage of various social services. You are welcome: to join our family ... to share your talents ... to be a valuable part of the community.</em></p>
				
<hr/>

<h2>La Comisi&oacute;n de los Trabajadores / The Workers' Commission</h2>

<p>La Comisi&oacute;n de los Trabajadores es el consejo formado por sus compa&ntilde;eros miembros del Centro.  Est&aacute; formada y es elegida por la comunidad de trabajadores para supervisar las operaciones diarias del centro.  Esta comisi&oacute;n es un medio muy poderoso de ayudar al centro y a sus compa&ntilde;eros trabajadores y tambi&eacute;n provee una oportunidad &uacute;nica para continuar enriqueciendo sus habilidades.</p>

<p><em>The Workers' Commission is a council of your peers where worker-elected members oversee day to day operations of the center. The commission is a powerful way to help the center and your fellow workers and provides a unique opportunities to grow your skills.<em></p>

<p>Para ver una lista de las clases gratis y los programas que provee el centro, visite la p&aacute;gina <a href="other_programs.php">Programas</a>.
<p><em>For a list of free classes and programs, visit the <a href="other_programs.php">Programs</a> page.</em> <!--For resources outside of the DWCMV, check the <resources> page. -->
<hr />
<p><em>"El Centro nos gu&iacute;a y orienta; as&iacute; como nos refiere a otros servicios cuando necesitamos de ellos" <em> &mdash; Carlos ... lea m&aacute;s  <a href="success_stories.php">historias como &eacute;sta</a>.</em>
<p><em>"The Center guides and orients us, and refers us to other services when we need them"</em> &mdash; Carlos ... read more <a href="success_stories.php">stories like this</a>.</p>

                
                </div>
</div>