<nav>
<div class="nav-wrapper">
	<ul>
		<li><a href="#/staff/jobs">All Jobs</a></li>
		<li><a href="#/staff/jobs/reports">Reports</a></li>
		<li><a href="#/staff/pages">Edit Front Page</a></li>
		<li><a href="#/staff/mails">Contact Request</a></li>
	</ul>
	<a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
</nav>

<div ng-controller="allUsersController">
	<a href="#/staff">Back to Staff Home</a>
	<div ng-repeat= "user in users">
		<h4>First & Last Name: {{user.firstName}} {{user.lastName}}</h4>
		<h4>User Email: {{user.emailAddress}}</h4>
		<h4><a href="#/users/{{user._id}}">Show User Record</a></h4>
		<h4><a href="#/users/{{user._id}}/edit">Edit User Record</a></h4>
		<hr>
	</div>

</div>
