
<div class="row">
    <div class="right-align" style="margin-right: 3%">
      <ul class="subnav">
        <li class="subnav"><a href="#/staff"><button class="waves-effect waves-light"> Dashboard </button></a></li>
        <li class="subnav"><a href="#/staff/jobs"><button class="waves-effect waves-light">All Jobs </button></a></li>
        <li class="subnav"><a href="#/staff/jobs/reports"><button class="waves-effect waves-light">Reports </button></a></li>
        <li class="subnav"><a href="#/staff/mails"><button class="waves-effect waves-light">Contact Requests </button></a></li>
        <li class="subnav"><div ng-if="userLevel!=1"><a href="#/staff/pages"><button class="waves-effect waves-light">Edit Front Page</button> </a></div></li>
        <li class="subnav"><a ng-click='logout()'><button class="waves-effect waves-light">Log Out</button></a></li>
      </ul>
    </div>
  </div>
  <h4><a href="#/staff/allUsers">All User Records</a></h4>
  <h4><a href="#/users/{{user._id}}">Show User Record</a></h4>
  <form ng-submit="updateUser()" class="col s12">
    <div class="input-field col s6">
      <input id="first_name" type="text" class="validate" ng-model="user.firstName">
      <label for="first_name">First Name</label>
      {{errors.firstName.messages}}
    </div>
    <div class="input-field col s6">
      <input id="last_name" type="text" class="validate" ng-model="user.lastName">
      <label for="last_name">Last Name</label>
      {{errors.lastName.messages}}
    </div>
    <div class="input-field col s6">
      <input id="emailAddress" type="email" class="validate" ng-model="user.emailAddress">
      <label for="emailAddress">Email Address</label>
      {{errors.emailAddress.messages}}
    </div>
    <div class="input-field col s6">
      <select id="userLevel" ng-model="user.userLevel">
          <option value="" disabled>User Level</option>
          <option value="1">1 - Staff</option>
          <option value="2">2 - Supervisor</option>
          <option value="3">3 - Admin</option>
    	</select>
      {{errors.userLevel.messages}}
    </div>
    <button class="btn waves-effect waves-light col s4 m4 l2 offset-s4 offset-m4 offset-l5" ng-click="submit" name="action">Update<i class="material-icons right">send</i></button>
  </form>


  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
      $('#how_heard').trigger('autoresize');
      $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
      });
    });
  </script>
