<nav>
<div class="nav-wrapper">
	<ul>
		<li><a href="#/staff/jobs">All Jobs</a></li>
		<li><a href="#/staff/jobs/reports">Reports</a></li>
		<li><a href="#/staff/pages">Edit Front Page</a></li>
		<li><a href="#/staff/mails">Contact Request</a></li>
	</ul>
	<a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
</nav>



<h2>{{user.firstName}}'s Account</h2>


<h4>First Name: {{user.firstName}}</h4>
<h4>Last Name: {{user.lastName}}</h4>
<h4>Email Address: {{user.emailAddress}}</h4>
<h4>Access Level: {{user.userLevel}}</h4>

<h4><a href="#/users/{{user._id}}/edit">Edit User Record</a></h4>
<button ng-click='removeUser(user._id)'>Delete User Record</button>
<h4><a href="#/staff/allUsers">All User Records</a></h4>
