
  <div class="row">
    <div class="right-align" style="margin-right: 3%">
      <ul class="subnav">
        <li class="subnav"><a href="#/staff"><button class="waves-effect waves-light"> Dashboard </button></a></li>
        <li class="subnav"><a href="#/staff/jobs"><button class="waves-effect waves-light">All Jobs </button></a></li>
        <li class="subnav"><a href="#/staff/jobs/reports"><button class="waves-effect waves-light">Reports </button></a></li>
        <li class="subnav"><a href="#/staff/mails"><button class="waves-effect waves-light">Contact Requests </button></a></li>
        <li class="subnav"><div ng-if="userLevel!=1"><a href="#/staff/pages"><button class="waves-effect waves-light">Edit Front Page</button> </a></div></li>
        <li class="subnav"><a ng-click='logout()'><button class="waves-effect waves-light">Log Out</button></a></li>
      </ul>
    </div>
  </div>
<div ng-if="userLevel==3">

  <h2>{{user.firstName}}'s Account</h2>


  <h4>First Name: {{user.firstName}}</h4>
  <h4>Last Name: {{user.lastName}}</h4>
  <h4>Email Address: {{user.emailAddress}}</h4>
  <h4>Access Level: {{user.userLevel}}</h4>

  <h4><a href="#/users/{{user._id}}/edit">Edit User Record</a></h4>
  <button ng-click='removeUser(user._id)'>Delete User Record</button>
  <h4><a href="#/staff/allUsers">All User Records</a></h4>
</div>
