<h2>Welcome, {{firstName}}!</h2>

<div ng-if="userLevel==3">
	<a href="#/staff/createUser"><h1 class="center-align">Add New User</h1></a>
	<a href="#/staff/allUsers"><h1 class="center-align">View All Users</h1></a>
</div>
<ul>
	<li><a href="#/staff/jobs">All Jobs </a></li>
	<li><a href="#/staff/jobs/reports">Reports</a></li>
	<li><a href="#/staff/mails">Contact Requests</a></li>
	<li><div ng-if="userLevel!=1"><a href="#/staff/pages">Edit Front Page</a></div></li>
</ul>

<div class="center-align">
<a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
