<h2>Welcome, {{firstName}}!</h2>

<div ng-if="userLevel==3">
	<a href="#/staff/createUser"><h1 class="center-align">Add New User</h1></a>
	<a href="#/staff/allUsers"><h1 class="center-align">View All Users</h1></a>
</div>
<br>

<ul class="subnav">
	<li class="subnav"><a href="#/staff/jobs"><button class="waves-effect waves-light">All Jobs </button></a></li>
	<li class="subnav"><a href="#/staff/jobs/reports"><button class="waves-effect waves-light">Reports </button></a></li>
	<li class="subnav"><a href="#/staff/mails"><button class="waves-effect waves-light">Contact Requests </button></a></li>
	<li class="subnav"><div ng-if="userLevel!=1"><a href="#/staff/pages"><button class="waves-effect waves-light">Edit Front Page</button> </a></div></li>
	<li class="subnav"><a ng-click='logout()'><button class="waves-effect waves-light">Log Out</button></a></li>
</ul>

<div class="center-align">
<a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
