<h2>Welcome, {{firstName}}!</h2>

<div ng-if="userLevel==3">
	<a href="#/staff/createUser"><h1 class="center-align">Add New User</h1></a>
	<a href="#/staff/allUsers"><h1 class="center-align">View All Users</h1></a>
</div>

<ul>
	<li><a href="#/staff/jobs"><h1 class="center-align">All Jobs</h1></a></li>
	<li><a href="#/staff/jobs/new"><h1 class="center-align">New Work Request</h1></a></li>
	<li><a href="#/staff/jobs/reports"><h1 class="center-align">Reports</h1></a></li>
	<li><a href="#/staff/mails"><h1 class="center-align">Contact Requests</h1></a></li>
	<li><div ng-if="userLevel!=1"><a href="#/staff/pages"><h1 class="center-align">Edit Front Page</h1></a></div></li>
</ul>

<div class="center-align">
<a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
