<div class="row">

	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/aboutus/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/aboutus/events">Events | </a></li>
			<li class="subnav"><a href="#/aboutus/news">News | </a></li>
			<li class="subnav"><a href="#/aboutus/partners">Partners | </a></li>
			<li class="subnav"><a href="#/aboutus/facility">Facility | </a></li>
			<li class="subnav"><a href="#/aboutus/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/aboutus/career">Careers | </a></li>
			<li class="subnav"><a href="#/aboutus/contactus">Contact Us</a></li>
		</ul>
	</div>
</div>
<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
			<div class="card-image">
            	<img src="./../../images/statement_bgrd.gif">
            	<span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
             	<p>"We are realizing our dreams here"</p>
				<p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
		</div>
</div>
	<img div class="col s12 m12 l8" src="./../images/DWC_about.jpg" alt="[DWC Members picture]"/>
	</div>


<div class="row">

	<div class="col s12 m4 l4">
		<h4>Day Worker Center of Mountain View</h4>
		<hr/>
		<h5>Serving Mountain View and surrounding communities since 1996</h5>
		<p>Open Monday to Saturday, 7am - 5pm</p>		
		<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
		<hr/>
		<h5>Day Worker Center Newsletter</h5>
		<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
		<h5>Day Workers' Journal</h5>
		<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
	</div>
		
	<div class="col s12 m8 l8">

		<!--MAIN CONTENT STARTS HERE -->
		<div class="main-aboutus">
			<h3>About Us</h3>
			<img class="facility" src="../images/img_left_on_facility.jpg" alt="[DWC Facility picture]" align="left" style="margin-right: 1%" />
			<p>The Day Worker Center of Mountain View is a 501(c)3 non-profit organization serving the communities surrounding Mountain View, Los Altos, and Sunnyvale. The Center was established in 1996 by leaders from local businesses, churches, and the community to provide job-matching services for hundreds of local homeowners and businesses annually.</p>
			<p class="dwc-img">The Center is led by a full-time Executive Director, María Marroquín, a recipient of numerous awards for her work at the Center. Organizational guidance comes from a Board of Directors composed of community and business leaders and representatives from the day laborer community. In addition, much of the day-to-day worker-related activities at the Center is managed by the Workers' Commission, composed of 8-10 current and past users of the Center.</p>
			<p class="dwc-img">In addition to supporting the day laborer population, the Center contributes to our community in the following ways:</p>
			<ul class="lists">
				<li>provides a location for service providers, such as Community Services Agency, to reach their clients</li>
				<li>reaches out to day laborers soliciting work on the streets to inform them about the center's services</li>
				<li>provides worker-led community service</li>
				<li>monthly trash pickup on local streets</li>
				<li>donates hand-made blankets for premature infants at Lucille Packard Children's Hospital at Stanford</li>
				<li>helps coordinate and participate in community events, sponsored by Rotary Club, Run for Zimbabwe, Mountain View Educational Foundation,etc.</li>
				<li>helps senior citizens with community gardens</li>
				<li>provides English as a Second Language (ESL) classes to the workers, facilitating interactions with employers and participation in local culture</li>
				<li>serves as a critical conduit for the city agencies and services to communicate with the Latino community</li>
				<li>decreases the number of workers soliciting employment on the streets</li>
				<li>reduces complaints in the areas where workers congregate, in turn reducing the number of calls to Police Departments</li>
				<li>reduces strain on local emergency rooms by providing free weekly medical visits by the <a href="https://gardnerfamilyhealth.org/">Gardner Health Services</a> Mobile Medical van</li>
			</ul>
		</div>
	</div>
</div>