<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/aboutus/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/aboutus/events">Events | </a></li>
			<li class="subnav"><a href="#/aboutus/news">News | </a></li>
			<li class="subnav"><a href="#/aboutus/partners">Partners | </a></li>
			<li class="subnav"><a href="#/aboutus/facility">Facility | </a></li>
			<li class="subnav"><a href="#/aboutus/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/aboutus/career">Careers | </a></li>
			<li class="subnav"><a href="#/aboutus/contactus">Contact Us</a></li>
		</ul>
	</div>
	</div>
<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
			<div class="card-image">
            	<img src="./../../images/statement_bgrd.gif">
            	<span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
             	<p>"We are realizing our dreams here"</p>
				<p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
		</div>
</div>
	<img div class="col s12 m12 l8" src="./../images/DWC_about.jpg" alt="[DWC Members picture]"/>
	</div>


<div class="row">

	<div class="col s12 m4 l4"> 
		<h4>Day Worker Center of Mountain View</h4>
		<hr/>
		<h5>Serving Mountain View and surrounding communities since 1996</h5>
		<p>Open Monday to Saturday, 7am - 5pm</p>		
		<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
		<hr/>
		<h5>Day Worker Center Newsletter</h5>
		<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
		<h5>Day Workers' Journal</h5>
		<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
	</div>
	
	<div class="col s12 m8 l8">
		<!--MAIN CONTENT STARTS HERE -->
		<div class="main-aboutus">
			<h3>Facility</h3>
			<p><img class="facility" src="../images/img_left_on_facility.jpg" alt="[DWC Facility picture]" align="right" />Our worker-maintained facility is centered around a large multi-purpose room, where we hold weekly worker meetings, classes, and events. Volunteer-led classes include instruction in English as a Second Language (ESL), high school equivalency (GED), computers, blogging, music, sewing, cooking, canning, green housecleaning, CPR, and after-school tutoring programs for kids.</p> 
			<p>The DWCMV currently receives support for operations from a combination of foundation and private donor support, as well as receiving significant in-kind services from cooperating agencies (see our <a href="#/aboutus/partners">Partners</a> page for more information). In our permanent location, the DWCMV saves on rental costs and enjoys stable, efficient operations in a facility suited to its needs and purposes.</p>
			<p>IN 2008, The DWCMV was able to purchase our property at 113 Escuela Avenue in Mountain View thanks to the generous support of the community. After a successful capital campaign, we were thrilled to move in to our fully remodeled community center. The single-story 3,496 square foot warehouse has been upgraded to include new electrical and heating/ventilation systems, kitchen, bathrooms, patio area, and roof.</p>
		</div>
	</div>
</div>
