<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/aboutus/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/aboutus/events">Events | </a></li>
			<li class="subnav"><a href="#/aboutus/news">News | </a></li>
			<li class="subnav"><a href="#/aboutus/partners">Partners | </a></li>
			<li class="subnav"><a href="#/aboutus/facility">Facility | </a></li>
			<li class="subnav"><a href="#/aboutus/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/aboutus/career">Careers | </a></li>
			<li class="subnav"><a href="#/aboutus/contactus">Contact Us</a></li>
		</ul>
	</div>
	</div>
<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
			<div class="card-image">
            	<img src="./../../images/statement_bgrd.gif">
            	<span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
             	<p>"We are realizing our dreams here"</p>
				<p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
		</div>
</div>
	<img div class="col s12 m12 l8" src="./../images/DWC_about.jpg" alt="[DWC Members picture]"/>
	</div>


<div class="row">

	<div class="col s12 m4 l4"> 
	
		<h4>Day Worker Center of Mountain View</h4>
		<hr/>
		<h5>Serving Mountain View and surrounding communities since 1996</h5>
		<p>Open Monday to Saturday, 7am - 5pm</p>		
		<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
		<hr/>
		<h5>Day Worker Center Newsletter</h5>
		<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
		<h5>Day Workers' Journal</h5>
		<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
	</div>
	
	<div class="col s12 m8 l8">
		<!--MAIN CONTENT STARTS HERE -->
		<div class="main-aboutus">
			<h3>News</h3>
			<hr/>
			<h4>Latest Newsletters and 2012 End of Year Letter</h4>
			<h5>December, 2012</h5>
			<p>Our latest newsletter is available for download, and an archive of newsletters are available on our <a href="#/aboutus/newsletters">newsletters page</a>. Watch your mailboxes for our end-of-the-year appeal letter! Read up on all the latest happenings at the center: <a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_Newsletter_Dec2012.pdf">Day Worker Center Newsletter</a>. (Or, browse some of our <a href="#/aboutus/newsletters">past issues</a>.)</p>

			<h4>Neighbors embrace Day Worker Center</h4>
			<h5>December, 2011</h5>
			<p>After a year of operation, the Day Worker Center of Mountain View gets extended operating hours, thanks to good relationships with our neighbors. Read the <a href="http://mv-voice.com/news/show_story.php?id=5562">Article in the Mountain View Voice</a>.</p>

			<h4>Latest Newsletter and End of Year Letter</h4>
			<h5>December, 2011</h5>
			<p>Our latest newsletter is available for download, and watch your mailboxes for our end-of-the-year appeal letter! Read up on all the latest happenings at the center: <a href="/aboutus/newsletter/DWC_newsletter_Dec2011.pdf
			">Day Worker Center Newsletter</a>. (Or, browse some of our <a href="#/aboutus/newsletters">past issues</a>.)</p>

			<h4>Mini Documentary on Mar&iacute;a Maroqu&iacute;n, DWC Executive Director</h4>
			<h5>July 15, 2011</h5>
			<p>Mar&iacute;a Maroqu&iacute;n discusses the <a href="http://www.youtube.com/watch?v=DNsdgMFf0n4">Day Worker Center of Mountain View mission</a> to provide a safe and supportive environment in which to connect day workers and employers, while offering classes focusing on job skill development.</p>

			<h4>Day Worker video aims to go 'beyond stereotypes'</h4>
			<h5>July 15, 2011</h5>
			<p>A recent documentary produced by and about day workers in our community, featuring workers affiliated with the Day Worker Center of Mountain View, is profiled in the <a href="http://www.mv-voice.com/story.php?story_id=7045">Mountain View Voice</a></p>

			<h4>Day Worker Center Green Housecleaning Certification Highlighted on ilovemv.org</h4>
			<h5>June 9, 2011</h5>
			<p>"... An excellent resource for residents." Day Worker Center services are highlighted on the blog ilovemv.org: <a href="http://ilovemv.org/grown-up-activities/spring-cleaning-part-2/">Spring Cleaning</a></p>

			<h4>Day Worker Center adding classes to bring stability during hiring lull</h4>
			<h5>June 9, 2011</h5>
			<p>Day Worker Center highlighted in recent Los Altos Town Crier article: <a href="http://www.losaltosonline.com/index.php?option=com_content&task=view&id=25008&Itemid=46">Day Worker Center strives to stabilize hiring lulls: New skills, classes aim to bring more work</a></p>

			<h4>A Grand Opening for the Day Worker Center</h4>
			<h5>November 26, 2010</h5>
			<p>Day workers and many friends celebrated the grand opening of the new permanent Day Worker Center on Thursday November 18. Read more about the glorious event:</p>
			<ul class="bullet lists">
				<li><a href="http://www.youtube.com/watch?v=X92AnhkQ-HU" 
				      target="_blank" title="Launch in a new window">
				      Video on YouTube</a></li>
				<li><a href="http://www.indybay.org/newsitems/2010/11/18/18664523.php" 
				      target="_blank" title="Launch in a new window">
				      Indymedia story (with 10 pictures)</a></li>
				<li><a href="http://mountainview.patch.com/articles/day-worker-center-opens-new-casa"
				      target="_blank" title="Launch in a new window">
			   	      Mountain View Patch article</a></li>
				<li><a href="http://www.mv-voice.com/news/show_story.php?id=3639"
				      target="_blank" title="Launch in a new window">
			   	      Mountain View Voice article</a></li>
				<li><a href="http://www.mv-voice.com/story.php?story_id=6450"
				      target="_blank" title="Launch in a new window">
			   	      an earlier Mountain View Voice story about moving day</a></li>
				
				<li><a href="http://www.losaltosonline.com/index.php?option=com_content&amp;task=view&amp;id=22717&amp;Itemid=109"
				      target="_blank" title="Launch in a new window">
				      Los Altos Town Crier article (on their web site)</a></li>
				
				<li><a href="http://www.mercurynews.com/peninsula/ci_16661511" 
				      target="_blank" title="Launch in a new window">
				      San Jose Mercury News article (on their web site)</a></li>
			
			</ul>

			<h4>Grand Opening Party for New Day Worker Center on Nov. 18 at 4:30pm</h4>
			<h5>October 23, 2010</h5>
			<p>The dream of a having a permanent home for the Day Worker Center of Mountain View has become a reality at last and we hope you will join us at our Grand Opening Party on November 18th from 4:30-7:00pm.<br /> <br /> We&#39;ll have food and drinks to celebrate and thank you, our friends, for your wonderful support that has helped make this happen. There will also be a fun ribbon-cutting ceremony with the participation of many local and regional dignitaries and key supporters.<br /><br /> Through the generosity and hard work of many people, the new Center is mortgage-free! As part of the food, fun, and festivities on November 18th we will have a silent auction with many wonderful goods and services. This will help furnish our new learning center.<br /></p>
			<p><img align="right" alt="Before and after picture of the Day Worker Center" border="0" src="../images/before_after3_503x225.jpg" width=503 height=251 title="Before and after picture of the Day Worker Center" /></p>
			<p>If possible, please RSVP for this event by clicking <a target="_blank" href="mailto:events@dayworkercentermv.org?subject=RSVP%20to%20Day%20Worker%20Center%20Grand%20Opening%20on%20Nov%2018th&amp;body=I&#39;m%20looking%20forward%20to%20attending!%0A">here</a> to send an email to us. This will help us gauge food and beverage quantities needed. The RSVP is not mandatory so don&#39;t let that stop you from attending this wonderful event!<br /><br /> Moving day is fast approaching -- We will begin the move to our new location at 113 Escuela Avenue on Monday, October 25th and will be fully operational on Monday, November 1st. Please call us at 650-903-4102 if you have any questions.</p>
			<p>Abrazos with deep gratitude,<br /><br /> Maria Marroquin<br/> Executive Director, Day Worker Center of Mountain View</p>

			<h4>Planting Party on Sept. 23rd at 4:30pm</h4>
			<h5>September 10, 2010</h5>
			<p>We're looking for volunteers to adopt and plant one or more of the plants pictured in the <a href="../pdf/plant_selections_pricelist.pdf" target="_blank" title="Launch in a new window">Plant List</a> and help us make our new Center a beautiful part of the community. Please email your order to Victor (Maria's new assistant) at <a href="mailto:victor@dayworkercentermv.org">victor@dayworkercentermv.org</a> and bring a check to the Planting Party on Sept. 23rd at 4:30pm at 113 Escuela in Mountain View (our new home). Or you can mail a check to us or pay by credit card from the <a href="#/donate">Donations page</a> on our website (please include a comment explaining which plants you are sponsoring). Contact Victor if you need help arranging payment. We hope you'll attend the planting event and enjoy planting at least one of the plants you adopt.</p>

			<h4>Groundbreaking event for our new home</h4>
			<h5>June 2, 2010</h5>
			<p>We had a successful groundbreaking ceremony for our first permanent home. Read about it in the:</p>
			<ul class="bullet lists">
				<li><a href="http://www.mv-voice.com/news/show_story.php?id=2908" target="_blank" title="Launch in a new window">Mountain View Voice</a></li>
				<li><a href="http://www.losaltosonline.com/index.php?option=com_content&amp;task=view&amp;id=21428&amp;Itemid=46" target="_blank" title="Launch in a new window"> Los Altos Town Crier</a></li>
				<li><a href="http://www.mercurynews.com/ci_15155310" target="_blank" title="Launch in a new window"> San Jose Mercury News</a></li>
			</ul>

			<h4>Car wash fundraiser covered by San Jose Mercury News</h4>
			<h5>April 19, 2010</h5>
			<p>Our car wash on Sunday, April 18th, was a big success and was given prominent coverage in the <a href="http://www.mercurynews.com/top-stories/ci_14910562" target="_blank" title="Launch in a new window">San Jose Mercury News</a> (including two color photos on the front page of the Local section). It was a great event and we thank St. Joseph's for their continued support and the workers who washed all the cars.</p>

			<h4>Fundraising Event Mar. 31 &amp; March Newsletter</h4>
			<h5>March 11, 2010</h5>
			<p>Come to Chevy's Restaurant for our Fundraising Event Wed. March 31st from 12 noon to closing. Read our <a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Mar2010.pdf" target="_blank" title="Launch in a new window"> March Newsletter</a> for more details and other news.</p>

			<h4>Open House Feb. 24 &amp; February Newsletter</h4>
			<h5>February 16, 2010</h5>
			<p>Come to our Open House Wednesday February 24 from 5 P.M. to 6:30 P.M. Read about it and other news in our <a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Feb2010.pdf" target="_blank" title="Launch in a new window">February Newsletter</a>.</p>

			<h4>"Victoria Verde" (Green Victory) gardening project launches</h4>
			<h5>January 12, 2010</h5>
			<p>Do you have a yard or land that you can no longer maintain, due to health or economic need? You can have your unused land turned into a beautiful, well-maintained organic garden by loaning your yard to "Victoria Verde". Click <a href="./../pdf/RevisedSeniorsFlier-12-16-09_logo.pdf" target="_blank" title="Launch in a new window">here</a> for more information. If you're interested, call Mar&iacute;a or Dorothy at (650) 903-4102.</p>

			<h4>Worker Center rises to the occasion in hard times</h4>
			<h5>December 25, 2009</h5>
			<p>Holiday Fund recipient helps day workers on subjects ranging from English to gardening.Read this <a href="http://www.mv-voice.com/story.php?story_id=5703" target="_blank" title="Launch in a new window">article from the Mountain View Voice</a>.</p>

			<h4>Holiday Newsletter, Annual Appeal, and Party on Dec 24th</h4>
			<h5>December 9, 2009</h5>
			<p>It's the end of another year and the Day Worker Center thanks you for your past support. It's been a big year for the Center and we've put together a special holiday newsletter with lots of pictures and memories from 2009. Click <a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Nov2009.pdf" target="_blank" title="Launch in a new window"> here</a>to read the Holiday Newsletter.</p>
			<p>It's also time for our annual appeal for financial support. Financially, it's been a difficult year for most of us and we only ask for whatever you are comfortable in giving. You can <a href="#/donate">Donate now</a> on our web site using your credit card.</p>
			<p>If you'd like to contribute but cash is tight, we also have a short "Santa's List" you might consider. Please call if you have something for Santa's list.</p>
				<ul class="bullet lists lists">
					<li>Bicycle headlights and tail lights</li>
					<li>Prepaid international phone cards</li>
					<li>Gift cards to Target, Safeway or Ross</li>
					<li>Warm socks and gloves</li>
			    </ul>
			<p>Finally, we invite you to come to our annual holiday party and luncheon on December 24th at 11 AM. We hope to see you here! Please let us know if you are coming by calling (650) 903-4102.</p>

			<h4>Day Worker Center and Kathie Franger to be honored at Mountain View Chamber of Commerce "Celebration of Heroes" event</h4>
			<h5>October 28, 2009</h5>
			<p>Please celebrate with us as the Day Worker Center is honored as the Non-Profit of the Year by the Chamber of Commerce of Mountain View on Thursday, November 5 at its "Celebration of Heroes," as well as our longtime, 80-years-young volunteer and "treasure," Kathie Franger.</p>
			<p>"Kathie has been an integral part of the Center from our very beginning,always present, always punctual, always dedicated. She cares deeply about the workers and has contributed thousands of hours of essential work to the Center. She is our treasure," says Day Worker Center Executive Director, Mar&iacute;a Marroqu&iacute;n.</p>
			<p>"I have a strong interest in peace and justice," says Franger. "The Day Worker Center is a place where I can pursue justice. It is a pleasure to connect with workers who are sacrificing so much to help their families, and with the wonderful volunteers and staff at the Center."</p>
			<p>States Franger, "I became aware of the Day Worker Center through my parish church, St. Joseph's of Mountain View. I had the privilege of helping... with one of the first grant applications for the Center, written by the late Kate Wakerly."</p>
			<p>Some of the highlights of Franger's many years of service include driving the Center's van in the last Mountain View Spring Parade; the Center's Tenth Anniversary and the presentation of its original, bilingual play, "La Espera," performed by day workers; and "marching with workers for immigrant rights."</p>
			<p>Franger has lived in Mountain View for over fifty years, raised her children there, and retired from the Mountain View-Whisman School District.</p>
			<p>We are now forming the tables for the dinner,  which will take place Thursday, November 5, at the Santa Clara Convention Center from 6-9 pm. Cost is $75.00 per person (a $25 discount for non-profits). Tickets can be purchased at the <a href="http://www.chambermv.org/" target="_blank" title="Launch in a new window">Chamber of Commerce web site</a> (click on "RSVP Here!").</p>
			<p>We are looking for sponsors so workers can attend.Their presence will mean a great deal to Kathie.</p>

			<h4>Presbyterian Church awards DWC $40K grant</h4>
			<h5>October 12, 2009</h5>
			<p>The "Self Development of People," a philanthropic arm of the Presbyterian Church, has approved grants to seven self-help projects in the United States. The funds were raised through the Church's One Great Hour of Sharing program.</p>
			<p>A $40K grant was awarded to the Day Worker Center of Mountain View (DWCMV) to support the "self-determination, independence and self-respect" that are the shared goals of both Self Development of People and the DWCMV.</p>
			<p>The grant provides resources to expand the Center's ongoing Community Service Program. The Center has committed to use grant funds to implement projects that will serve the larger community by carrying out service projects for Mountain View and neighboring communities in which the day workers live and work.</p>
			<p>Grant funds will also be used to provide training for Spanish-speaking Board members and bilingual equipment for simultaneous interpretation for all Center events, assisting workers to strengthen skills to participate and contribute more fully in decision-making, both at the Center and in the larger community.</p>
			<p>As part of their contribution, workers will receive training from KMTV-15, assisted by a bilingual staff person or volunteer, on how to produce their own documentary. The documentary will be used to communicate the realities and challenges of the day workers' lives to the general community.</p>

			<h4>DWC Exceeds $7,500 Matching Grant Challenge for Operations</h4>
			<h5>October 1, 2009</h5>
			<p>We exceeded our goal for the matching grant! You helped raise $8,151 so we will receive a match of $7,500. Had we fallen short, we would not have received any matching funds at all. Instead, the 2-month campaign will result in $15,651 to be used for Operations. This is especially important as we put so much focus into the Capital Campaign for the new facility, it can result in a decline in funding for Operations. Thank you to all the generous donors who made this campaign a success!</p>

			<h4>Capital Campaign Kicks Off With Its First Event</h4>
			<h5>July 10, 2009</h5>
			<p>The first in a series of fundraising events was held on July 10 at the home of former Los Altos Hills Mayor, Jean Mordo and his wife, Barbara.The Mordo's invited about 60 friends, neighbors, colleagues, and elected officials to their home for wine, hors d'oeuvres, and brief presentations by representatives from the Day Worker Center.The event kicked off the Capital Campaign for the new DWC facility on Escuela Ave. which requires $460,000 in renovations before occupancy in February 2010. Between now and February, seven more events like this will be held to inform existing supporters, inspire new donors, and raise the funds needed to complete the renovation. Please contact the DWC if you would like to attend one of these events.</p>

			<h4>City Council OKs new site for Day Worker Center</h4>
			<h5>May 12, 2009</h5>
			<p>The City Council voted unanimously to allow the Day Worker Center of Mountain View to take up residence at 113 Escuela Ave:</p>
			<ul class="bullet lists">
				<li><a href="http://www.mv-voice.com/news/show_story.php?id=1504" target="_blank" title="Launch in a new window">article at Mountain View Voice (online)</a></li>
				<li><a href="http://www.losaltosonline.com/index.php?option=com_content&amp;task=view&amp;id=17618&amp;Itemid=46" target="_blank" title="Launch in a new window">article at Los Altos Town Crier (online)</a></li>
				<li><a href="./padn0513150xa005.pdf" target="_blank" title="Launch in a new window">article from Palo Alto Daily News (pdf file)</a></li>
				
			</ul>

			<h4>DWC Hosts Special Film Screening with Filmmaker at CSMA (FREE!)</h4>
			<h5>
				May 9, 2009<br />
			</h5>
			<p>On May 9th, 2009, the DWC will host a very special evening for the community. We'll show the documentary film, &quot;Letters from the Other Side,&quot; and have the filmmaker on hand (Heather Courtney, coming from Austin, Texas just for our event) for her comments and a Q&amp;A. The film focuses on a group of Texas dayworkers and the effect that separation from their families has on their lives and the lives of their families back home. We'll follow the film a brief panel discussion of experts and day workers. We'll close with a wonderful appetizer and wine reception in CSMA's courtyard. View our <a href="events_0904_film_event.php">event poster</a> for more info.</p>

			<h4>City&rsquo;s $75K for dayworker center OK</h4>
			<h5>
				
				April 2008<br /> Reprinted with permission from the Los Altos Town Crier
			</h5>
			<p>Last week, the Los Altos City Council approved a $75,000 allocation for the non-profit Day Worker Center of Mountain View, a sizable contribution, but an appropriate one.</p>
			<p>A few weeks ago, we noted the center deserves this community&rsquo;s support because residents have employed dayworkers for years. We see the council&rsquo;s approval of funds toward a new, permanent location as validating this community&rsquo;s responsibility.</p>
			<p>The donation also validates Los Altos Hills&rsquo; earlier commitment of $25,000. The town council made the donation contingent on both Los Altos and Mountain View making contributions proportional to their sizes. We&rsquo;re still awaiting a specific dollar commitment from Mountain View, but are encouraged to hear that city officials are at least seriously considering a donation of city-owned land next door to the proposed new location of the center on Escuela Avenue. The land is needed to meet parking requirements for the site.</p>
			<p>Equally encouraging &ndash; and touching &ndash; to learn of were the massive individual contributions offered by committed Los Altos residents. One resident involved with the center pledged $100,000, another $50,000. These are remarkable offers in the face of a sluggish, cash-strapped economy. After years of struggle, things are indeed looking bright for the future of the dayworker center.</p>
			<p>Once in place and operating with a broader-based program for the workers and their families, we expect to see fewer and fewer workers hanging out on El Camino Real &ndash; one of the principal objectives of the permanent new location.</p>

			<h4>Day Worker Center makes its case</h4>
			<h5>April 2008<br />
				Letters to the Editor - Reprinted with permission from the Los Altos Town Crier
			</h5>
			<p>&quot;I must admit that when I went to Saturday&rsquo;s meeting regarding the proposed new home for the Day Worker Center of Mountain View, I had a bit of a faint heart &ndash; an open mind to be sure, but some serious concerns nonetheless. However, an hour later, my mind and heart had been more than adequately assuaged.</p>
			<p>If I had one piece of criticism, it would be that the center has not yet done a good enough job of educating the public about its organization. It has a good product and performs many services beyond what one might know or even expect. It is my hope that it will be able to work out some of the kinks and find a permanent home in the city.</p>
			<p> I have confidence the center will make a good neighbor.&quot; <em>Honor Spitz, Mountain View</em> </p>

			<h4>Help Day Worker Center find a home</h4>
			<h5>
				
				March 2008<br /> Reprinted with permission from the Palo Alto Daily News
			</h5>
			<p>Los Altos Hills is making a farsighted effort to help a day labor center find a permanent home, and we hope neighboring cities will follow its example. Despite its name, the Day Worker Center of Mountain View fills a need that extends beyond that city's borders. That is why it is important for other cities to help the center close a $300,000 deal for a building on Escuela Avenue near the railroad tracks in Mountain View.</p>
			<p>The center was inspired by a desire to get day workers off the street, where they often go in search of temporary jobs. It was an important step that helped workers and employers negotiate jobs without creating traffic jams and hazards.</p>
			<p>The center, temporarily housed at Trinity United Methodist Church after being evicted from its last digs, offers a central place for these transactions rather than Home Depot parking lots and busy thoroughfares.</p>
			<p>About $175,000 has been raised privately and the Los Altos Hills City Council agreed to kick in up to $25,000 if its counterparts in Mountain View and Los Altos contribute money. Santa Clara County could also get into the act, with Supervisor Liz Kniss pledging to raise the issue during county budget deliberations next month. Palo Alto should step up to the plate as well.</p>
			<p>Many employers who come to the center are from Palo Alto, said Mar&iacute;a Marroqu&iacute;n, the center's executive director. Yet the organization currently receives no funding from that city. It seems unfair to place the burden for this service on other cities in the region when Palo Alto clearly benefits as well.</p>
			<p>Some will again try to cloud the issue by arguing the center benefits illegal aliens. But that is a separate issue, a federal one to be specific. It would be unfair to penalize local day laborers and employers because the federal government cannot control the border. The argument also neglects the simple fact that the workers and employers are going to find each other anyway and providing them a place to do so makes it easier and safer for both groups and for the community.</p>
			<p>This should not be a political issue or a factor in the national immigration debate. The center serves a valuable need in our area, which is why it is time for the county and the aforementioned cities to step forward and help it land a permanent home</p>

			<div class="clearfix">
				<div class="story wide">
					<h4>DWC finds permanent home. Generous donors should allow purchase but much more funding needed for critical renovations.</h4>
					<h5>March 2008</h5>
					<p>The Center is "in-contract" to PURCHASE a permanent home. A group of persistent and generous donors have miraculously raised the $300,000 needed to purchase the property at 113 Escuela, but an equal amount (or more) will still be needed for critical renovations before the new Center is habitable.  The cities of Los Altos Hills, Los Altos, and Mountain View have pledged or are considering pledges to support the renovation too. In addition to funds, the Center will also need approval of a Conditional Use Permit from the City of Mountain View before the new home can become a reality.  </p>
			        <p> Can you help?  To contribute to the fundraising campaign, contact Mar&iacute;a at the Center (650-903-4102).</p>
				</div>
			</div>
		<hr />	
	</div>		
	</div>
</div>	