<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/aboutus/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/aboutus/events">Events | </a></li>
			<li class="subnav"><a href="#/aboutus/news">News | </a></li>
			<li class="subnav"><a href="#/aboutus/partners">Partners | </a></li>
			<li class="subnav"><a href="#/aboutus/facility">Facility | </a></li>
			<li class="subnav"><a href="#/aboutus/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/aboutus/career">Careers | </a></li>
			<li class="subnav"><a href="#/aboutus/contactus">Contact Us</a></li>
		</ul>
	</div>
	</div>
<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
			<div class="card-image">
            	<img src="./../../images/statement_bgrd.gif">
            	<span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
             	<p>"We are realizing our dreams here"</p>
				<p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
		</div>
</div>
	<img div class="col s12 m12 l8" src="./../images/DWC_about.jpg" alt="[DWC Members picture]"/>
	</div>


<div class="row">

	<div class="col s12 m4 l4"> 
		<h4>Day Worker Center of Mountain View</h4>
		<hr/>
		<h5>Serving Mountain View and surrounding communities since 1996</h5>
		<p>Open Monday to Saturday, 7am - 5pm</p>		
		<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
		<hr/>
		<h5>Day Worker Center Newsletter</h5>
		<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
		<h5>Day Workers' Journal</h5>
		<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
	</div>
	
	<div class="col s12 m8 l8">
		<!--MAIN CONTENT STARTS HERE -->
		<div class="main-aboutus">
			<h3>Newsletters</h3>
			<hr />
			<h4>Latest Newsletter</h4>

			<p>Our latest newsletter is available for download ... </p>

			<p>2015 Newsletter -- Area rents out of control, "A Daring Journey:" stories of courage and perseverance, edible garden grows with recology and leadership, new kitchen "cooking" thanks to you, workers teach driving skills to peers, creating a network for change, and more.</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/2015_Day-Worker-Center-Newsletter.pdf"> Fall, 2015 (PDF) </a></p>
			<hr />

			<h3>Previous Newsletters</h3>
			<h5 class="title">Fall, 2015</h5>
			<p>2014 Newsletter -- Heart of Our Home: News on kitchen upgrades, who's who volunteers at the DWC, Paul's story on how your volunteering efforts and donations changes his family live, Maria selections into Rockwood Leadership Institute, and more.</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_Newsletter_Dec2014.pdf">December, 2014 (PDF)</a></p>

			<h5 class="title">November, 2013</h5>
			<p>Our 2013 Newsletter -- Sue&ntilde;os de Esperanza, Maria Named "Local Hero", Through the Eyes of One Family, Recognition Wall unveiled, and more!</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_Newsletter_Nov2013.pdf">November, 2013 (PDF)</a></p>

			<h5 class="title">December, 2012</h5>

			<p>Our 2012 Annual Edition -- Job drive, worker artworks on display at Mountain View City Hall, national networking, workers giving back, and more!</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_Newsletter_Dec2012.pdf
			">December 2012 (PDF)</a></p>

			<h5 class="title">September, 2012</h5>

			<p>Job development campaign, worker handicrafts for sale on Facebook, meet the summer interns.</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_Newsletter_Sep2012.pdf
			">September 2012 (PDF)</a></p>

			<h5 class="title">June, 2012</h5>
			<p>Extended hours for the Center ... volunteer appreciation ... and job development.</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_Newsletter_June2012.pdf
			">June 2012 (PDF)</a></p>

			<h5 class="title">March, 2012</h5>
			<p>Volunteer of the year ... healthy cooking classes ... On the Road to Justice (6th National Assembly of Day Workers).</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Mar2012.pdf
			">March 2012 (PDF)</a></p>

			<h4>December, 2011</h4>
			<p>Fifteen years of service ... anniversary party ... a day in the life ... Borderless Dreams ... a documentary of our local workers ... and snapshots of our many workshops and classes.</p>
			<p><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Dec2011.pdf">December 2011 (PDF)</a></p>

			<h4>Fall 2011</h4>
			<p>Learning new skills at the center ... By the numbers ... A model for day workers from other cities ... and more! <br><a href="http://www.dayworkercentermv.org/aboutus/newsletter/dwc_web_version.html"
			>Fall 2011 (Web Version)</a></p>

			<h4>March 2010</h4>
			<p>Community service ... Victoria Verde ... Frequently asked questions ... and more! <br><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Mar2010.pdf
			">March 2010 (PDF)</a></p>

			<h4>Feb 2010</h4>
			<p>Open house ... Community outreach ... Spare fruit ... and more! <br><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Feb2010.pdf
			">February 2010 (PDF)</a></p>

			<h4>November 2009</h4>
			<p>Meeting challenges ... Giving back ... and more! <br><a href="http://www.dayworkercentermv.org/aboutus/newsletter/DWC_newsletter_Nov2009.pdf
			">November 2009(PDF)</a></p>
		</div>
	</div>
</div>