<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
			<li class="subnav"><a href="#/aboutus/whoweare">Who We Are | </a></li>
			<li class="subnav"><a href="#/aboutus/events">Events | </a></li>
			<li class="subnav"><a href="#/aboutus/news">News | </a></li>
			<li class="subnav"><a href="#/aboutus/partners">Partners | </a></li>
			<li class="subnav"><a href="#/aboutus/facility">Facility | </a></li>
			<li class="subnav"><a href="#/aboutus/newsletters">Newsletters | </a></li>
			<li class="subnav"><a href="#/aboutus/career">Careers | </a></li>
			<li class="subnav"><a href="#/aboutus/contactus">Contact Us</a></li>
		</ul>
	</div>
	</div>
<div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
			<div class="card-image">
            	<img src="./../../images/statement_bgrd.gif">
            	<span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
             	<p>"We are realizing our dreams here"</p>
				<p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
		</div>
</div>
	<img div class="col s12 m12 l8" src="./../images/DWC_about.jpg" alt="[DWC Members picture]"/>
	</div>


<div class="row">

	<div class="col s12 m4 l4"> 
		<h4>Day Worker Center of Mountain View</h4>
		<hr/>
		<h5>Serving Mountain View and surrounding communities since 1996</h5>
		<p>Open Monday to Saturday, 7am - 5pm</p>		
		<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
		<hr/>
		<h5>Day Worker Center Newsletter</h5>
		<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
		<h5>Day Workers' Journal</h5>
		<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
	</div>
	
	<div class="col s12 m8 l8">
		<!--MAIN CONTENT STARTS HERE -->
		<div class="main-aboutus">
			<p class="dwc-img">Day to day operation of the center is overseen by a council of workers &mdash; the <strong>Workers' Commission</strong>, whose members are elected by the workers. The commission is a powerful way for workers to contribute to the success of the center.</p>
			<h3>Executive Director</h3>
			<p class="dwc-img"><strong>Mar&iacute;a Marroqu&iacute;n</strong> serves as Executive Director for the Day Workers' Center of Mountain View, and is currently in her second term as the President of the Board of Directors of NDLON (National Day Labor Organizing Network). Mar&iacute;a oversees day-to-day operations at the center and serves as liaison with local employers and the community. Her passion is to empower workers to become members of the community.  Mar&iacute;a is also a "graduate" of the center's programs.</p>
			<p class="dwc-img"><em>"I came here for economic reasons, with my son. I sold pots and pans, I sorted clothes in a second-hand clothes store, but my life changed when I came to the Day Worker Center. When I came here, it was hard to understand that now I needed to clean houses, when in Mexico I had paid others to do it for me.</em></p>
			<p class="dwc-img"><em>"When I finished my first job, I felt like a heroine, that I'm really strong, I'm a survivor. I felt that I was capable of changing my life. More importantly, I became passionate about the day workers. I saw how they struggle, and how they suffer. </em></p>
			<p class="dwc-img"><em>"It's like the waters parted for me. I began coming to the Center to give the workers rides to work, and started to volunteer in the office. I helped to organize the workers: I got involved with community activism, and started going to City Council meetings. At one point, I took English classes at a school that is sponsored by Philanthropic Ventures. Today, they are one of the foundations that supports our work in the community, and I have become the Executive Director of the Center. My story isn't unique. This could be repeated many, many times, thanks to organizations like the Day Worker Center, and the opportunities that they provide."</em></p>

			<h3><a name="board"></a>Board of Directors</h3>
		  	<p>The Board of Directors is made up of people who are committed to assisting the Center and achieving its mission. Typical board members are successful business leaders, community leaders and activists, and members of the day laborer community.</p>
		  	<p>Day Worker Center of Mountain View Board of Directors (in alphabetical order):</p>
			<ul class="bullet lists">
				<li>Bill Lambert - President</li>
				<li>Craig Sherod - Treasurer</li>
				<li>Laura Casas - Vice President</li>
				<li>Laura Macias - Secretary</li>
				<li>Steve Olson</li>
			</ul>
		</div>
		<!--MAIN CONTENT ENDS HERE -->
	</div>
</div>