<form>
	<div class="input-field">
	<input type="text" id="searchbox" ng-model="searchText">
	<label for="searchbox">Search all jobs by keyword</label>
	</div>
</form>
<h1>Completed Tasks</h1>
<table class="responsive-table" class="bordered">
		<thead>
			<tr>
				<th data-field="date">Date</th>
				<th data-field="time">Time</th>
				<th data-field="address">Address</th>
				<th data-field="numberOfWorkers">Number of Workers</th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="job in jobs | filter:searchText" ng-if="job.review">
					<td>{{ job.startDate | date:'yyyy-MM-dd' }}</td>
					<td>{{ job.startTime }}</td>
					<td>{{ job.physicalAddress }}</td>
					<td>{{ job.numberOfWorkers }}</td>
					<td><a href="#/staff/jobs/{{job._id}}" class="btn waves-effect waves-light" type="assigned">Details</a></td>

				</tr>
			</tbody>			
	</table>

<div ng-repeat-end ng-if="!job.review"></div>