<div class="row">
    <div class="right-align" style="margin-right: 3%">
      <ul class="subnav">
        <li class="subnav"><a href="#/staff"><button class="waves-effect waves-light"> Dashboard </button></a></li>
        <li class="subnav"><a href="#/staff/jobs"><button class="waves-effect waves-light">All Jobs </button></a></li>
        <li class="subnav"><a href="#/staff/jobs/reports"><button class="waves-effect waves-light">Reports </button></a></li>
        <li class="subnav"><a href="#/staff/mails"><button class="waves-effect waves-light">Contact Requests </button></a></li>
        <li class="subnav"><div ng-if="userLevel!=1"><a href="#/staff/pages"><button class="waves-effect waves-light">Edit Front Page</button> </a></div></li>
        <li class="subnav"><a ng-click='logout()'><button class="waves-effect waves-light">Log Out</button></a></li>
      </ul>
    </div>
  </div>

<div class="row">
<form ng-submit="update()" class="col s12" >
        <div class="row">
            <h5 class="center-align">Employer Information</h5>
        </div>
        <hr>
      <div class="row">
        <div class="input-field col s6">
          <select id="englishLevel" class="validate" ng-model="job.review" required>
            <option value="" disabled selected>*Review</option>
            <option value="*****">*****</option>
            <option value="****">****</option>
            <option value="***">***</option>
            <option value="**">**</option>
            <option value="*">*</option>
          </select>
        </div>
        <div class="input-field col s6">
          <input id="reviewNotes" type="text" class="validate" ng-model="job.reviewNotes" required>
          <label for="reviewNotes">Review Notes</label>
        </div>
      </div>

      <input ng-model="job.reviewedBy" ng-bind="job.reviewedBy=emailAddress" required type="hidden">
      <div class="row">
          <button class="btn waves-effect waves-light col s4 m4 l2 offset-s4 offset-m4 offset-l5" ng-click="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
      </div>
    </form>

<a ng-href="#/staff">back to home</a>
<script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
    $('#how_heard').trigger('autoresize');
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
  </script>
