<nav>
<div class="nav-wrapper">
  <ul>
    <li><a href="#/staff/jobs">All Jobs</a></li>
    <li><a href="#/staff/jobs/reports">Reports</a></li>
    <li><a href="#/staff/pages">Edit Front Page</a></li>
    <li><a href="#/staff/mails">Contact Request</a></li>
  </ul>
  <a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a>
</div>
</nav>


<div>
<a href="#/staff"> Go Back </a>
  <p>First Name: {{ job.firstName }}</p>
  <p>Last Name: {{ job.lastName }}</p>
  <p>Company Name: {{ job.companyName }}</p>
  <p>Address: {{ job.physicalAddress }}</p>
  <p>City: {{ job.city }}</p>
  <p>Zip: {{ job.zip }}</p>
  <p>Phone Number: {{ job.phoneNumber }}</p>
  <p>Email Address: {{ job.emailAddress }}</p>
  <hr>
  <br>
  <p>How did you hear About Us: {{ job.hearAbout }}</p>
  <hr>
  <br>
  <p>Start Date: {{ job.startDate }}</p>
  <p>Start Time: {{ job.startTime }}</p>
  <p>Work Site: {{ job.worksite }}</p>
  <p>Job Description: {{ job.jobDescription }}</p>
  <p>Estimated Hours: {{ job.estimatedHours }}</p>
  <p>Skills Needed: {{ job.skillsNeeded }}</p>
  <p>Number of Workers: {{ job.numberOfWorkers }}</p>
  <p>Pay Rate: {{ job.payRate }}</p>
  <p>Pay Calculation: {{ job.payRate*job.estimatedHours }}</p>
  <p>Perks: {{ job.perks }}</p>
  <p>English Level: {{ job.englishLevel }}</p>
  <hr>
  <br>
  <p>Workers Assigned: {{ job.workersAssigned }}</p>
  <p>Assignment Notes: {{ job.assignmentNotes }}</p>
  <p>Assigned By: {{ job.assignedBy }}</p>
  <hr>
  <br>
  <p>Review Rating: {{ job.review }}</p>
  <p>Reviewers Notes: {{ job.reviewNotes }}</p>
  <p>Reviewed By: {{ job.reviewedBy }}</p>
  <hr>
  <br>
  <p>Last Updated By: {{ job.updatedBy }}</p>
</div>
