<div class="row">
    <div class="right-align" style="margin-right: 3%">
      <ul class="subnav">
        <li class="subnav"><a href="#/staff"><button class="waves-effect waves-light"> Dashboard </button></a></li>
        <li class="subnav"><a href="#/staff/jobs"><button class="waves-effect waves-light">All Jobs </button></a></li>
        <li class="subnav"><a href="#/staff/jobs/reports"><button class="waves-effect waves-light">Reports </button></a></li>
        <li class="subnav"><a href="#/staff/mails"><button class="waves-effect waves-light">Contact Requests </button></a></li>
        <li class="subnav"><div ng-if="userLevel!=1"><a href="#/staff/pages"><button class="waves-effect waves-light">Edit Front Page</button> </a></div></li>
        <li class="subnav"><a ng-click='logout()'><button class="waves-effect waves-light">Log Out</button></a></li>
      </ul>
    </div>
  </div>

<form>
	<div class="input-field">
	<input type="text" id="searchbox" ng-model="searchText">
	<label for="searchbox">Search all mails by keyword</label>
	</div>
</form>

<h1>Contact Requests</h1>
	<table class="responsive-table" class="bordered">
		<thead>
			<tr>
				<th data-field="date">Date</th>
				<th data-field="name">Name</th>
				<th data-field="type">Type</th>
				<th data-field="action">Action</th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="mail in mails | filter:searchText">
					<td>{{ mail.createdAt | date:'yyyy-MM-dd' }}</td>
					<td>{{ mail.firstName }} {{ mail.lastName }}</td>
					<td>{{ mail.contactType }}</td>
					<td><a href="#/staff/mails/{{mail._id}}" class="btn waves-effect waves-light" type="assigned">details</a></td>
				</tr>
			</tbody>
	</table>
