<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
		    <li class="subnav"><a href="#/workers/programs">Programs | </a></li>
			<li class="subnav"><a href="#/workers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/workers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
    <div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_workers.jpg" alt="[DWC Members picture]"/>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
	    <h4>Worker Success Stories</h4>
		<hr/>
		<ul>
            <li>&raquo; <a href="#/workers/success_stories/4th_of_july_picnic" target="_blank">4th of July Picnic</a></li>
		  	<li>&raquo; <a href="/workers/success/carlos.pdf" target="_blank">Carlos</a></li>
			<li>&raquo; <a href="/workers/success/freddy_emily.pdf" target="_blank">Freddy &amp; Emily</a></li>
			<li>&raquo; <a href="/workers/success/javier_bebi.pdf" target="_blank">Javier &amp; Beby</a></li>
		    <li>&raquo; <a href="/workers/success/marco.pdf" target="_blank">Marco</a></li>
		    <li>&raquo; <a href="/workers/success/maria_and_jim.pdf" target="_blank">Maria &amp; Jim</a></li>
		</ul>					
		<h5>Centro de los Trabajadores de Mountain View</h5>
		<hr/>
		<h5>Al servicio de la comunidad de Mountain View y sus alrededores desde 1996</h5>

		<p>Abierto de Lunes a S&aacute;bado, 7am - 5pm</p>
		<p>113 Escuela Avenue<br>
		Mountain View, CA, 94040<br>
		650-903-4102<br>
		<a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>
		<hr/>
		<h5>Diario de los Trabadores del Centro</h5>

		<p>Visite el  <a href="http://dayworkersjournal.wordpress.com/"
		target="_blank" title="Visit the Day Workers Journal">Diario de los Trabajadores del Centro</a>, un blog del "Centro de los Trabajadores" acerca de sus trabajadores.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
  	</div>
  
  	<div class="col s12 m8 l8">
	    <!--MAIN CONTENT STARTS HERE -->
	    <div class="main-aboutus">
			<h3>Success Stories</h3>
			<h4>Day Workers  serve up lunch and soak up American culture at Los Altos 4th of July Community Picnic!</h4>
		  	<h5 class="title">July 4th, 2007</h5>
			<img src="../images/2007_4th_of_July_.jpg" alt="4th of July Picnic" width="193" height="270" hspace="15" vspace="10" align="left" />
			<p>About twenty of our workers and several DWC volunteers enjoyed an old-fashioned Fourth of July picnic at Shoup Park in Los Altos.  We were invited this year by the Los Altos Community Foundation to sell lunch at their annual community picnic, which features live patriotic music, speeches by local dignitaries, and fun for the whole family.  Our workers had a fabulous time grilling hot dogs and serving chips, watermelon, and homemade lemonade.  We served several hundred meals, netted over $1,000 for the Center, and enjoyed being immersed in the culture and festivities of this most American holiday. Said the organizers&hellip;&quot;Thanks to all at the DWC for a fabulous job!!!  Can't tell you how much we appreciate all you did for the event and the cheerfulness with which you did it!  You're the best!&quot;</p>
		  	<hr/>
		</div>	
	</div>
</div>
			