<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
		    <li class="subnav"><a href="#/workers/programs">Programs | </a></li>
			<li class="subnav"><a href="#/workers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/workers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
    <div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_workers.jpg" alt="[DWC Members picture]"/>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
		<!-- <div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div> -->
	    <h4>Worker Success Stories</h4>
		<hr/>
		<ul>
            <li>&raquo; <a href="#/workers/success_stories/4th_of_july_picnic" target="_blank">4th of July Picnic</a></li>
		  	<li>&raquo; <a href="/workers/success/carlos.pdf" target="_blank">Carlos</a></li>
			<li>&raquo; <a href="/workers/success/freddy_emily.pdf" target="_blank">Freddy &amp; Emily</a></li>
			<li>&raquo; <a href="/workers/success/javier_bebi.pdf" target="_blank">Javier &amp; Beby</a></li>
		    <li>&raquo; <a href="/workers/success/marco.pdf" target="_blank">Marco</a></li>
		    <li>&raquo; <a href="/workers/success/maria_and_jim.pdf" target="_blank">Maria &amp; Jim</a></li>
		</ul>					
		<h5>Centro de los Trabajadores de Mountain View</h5>
		<hr/>
		<h5>Al servicio de la comunidad de Mountain View y sus alrededores desde 1996</h5>

		<p>Abierto de Lunes a S&aacute;bado, 7am - 5pm</p>
		<p>113 Escuela Avenue<br>
		Mountain View, CA, 94040<br>
		650-903-4102<br>
		<a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>
		<hr/>
		<h5>Diario de los Trabadores del Centro</h5>

		<p>Visite el  <a href="http://dayworkersjournal.wordpress.com/"
		target="_blank" title="Visit the Day Workers Journal">Diario de los Trabajadores del Centro</a>, un blog del "Centro de los Trabajadores" acerca de sus trabajadores.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
  	</div>
  
  	<div class="col s12 m8 l8">
	    <!--MAIN CONTENT STARTS HERE -->
	    <div class="main-aboutus">
			<h2>Programas / Programs</h2>
            <p><strong>Clases de Ingl&eacute;s / English Classes</strong></p>

            <p>Las clases de Ingl&eacute;s son el programa m&aacute;s popular del Centro.  Usted encontrar&aacute; que en el Centro, se imparten m&aacute;s de una clase de Ingl&eacute;s por d&iacute;a.   Nuestros maestros voluntarios disfrutan ense&ntilde;ando a  los estudiantes, mejorando a la vez su Espa&ntilde;ol.  Las clases son muy  agradables y todas las personas participantes se benefician de ellas.</p>
			<p><em>English classes are the most popular program at the Center. You'll find one or more English classes being taught at the Center each day. Our volunteer teachers enjoy working with students and improving their own Spanish. So the classes are fun and beneficial for all.</em></p>

            <p><strong>Comisi&oacute;n de Trabajadores / Workers' Commission</strong></p>

            <p>La Comisi&oacute;n de Trabajadores es elegida por los trabajadores del Centro y gobierna las operaciones diarias del Centro.  Esta comisi&oacute;n es una de las mejores formas de retribuir al Centro y a sus compa&ntilde;eros trabajadores, y provee una oportunidad de adquirir nuevas destrezas.</p>
			<p><em>The Worker's Commission is elected by the workers at the Center and governs the day-to-day operations at the Center. The commission is a great way to give back to the Center and your fellow workers, and is a unique opportunity to learn new skills.</em></p>


		    <p><strong>Cuidado de la Salud / Health Care</strong></p>
		    <p>Una camioneta  visita el Centro por lo menos una vez por semana para atender necesidades m&eacute;dicas simples.</p>
			<p><em>A medical van visits the Center at least once a week to address simple medical needs.</em></p>               
		    
			<p><strong>Otros Programas / Other Programs</strong></p>
			<ul class="bullet lists">
				<li>Clases para completar el equivalente de Estudios Secundarios (GED) / High School Equivalency classes (GED)</li>
				<li>Clases de computaci&oacute;n / Computer classes</li>
				<li>Entrenamiento de destrezas laborales / Job skills training</li>
				<li>Costura / Sewing</li>
			</ul>

			<p><em>Llame para adquirir informaci&oacute;n acerca de nuestros programas gratis.</p>
			<p>Call for the latest information on our free programs</em></p>
		</div>
	</div>
</div>
		

