<div class="container">
	<!--SUB NAV BAR STARTS HERE -->
	<div>
		<ul class="subnav">
			<li class="subnav"><a href="#/workers/programs">Programs | </a></li>
			<li class="subnav"><a href="#/workers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/workers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	<!--SUB NAV BAR ENDS HERE -->

	<!--IMAGES START HERE -->
	<div>
		<p class="aboutus-img" id="empowering"><img src="../images/empowering_others.png" alt="[Empowering Others Quote]" width="325" height="200" align="right" /></p>
		<p class="aboutus-img" id='folks'><img src="../images/forWorkers.png" alt="[DWC Members picture]" width="700" height="200" align="right" /></p>
	</div>
	<!--IMAGES END HERE -->

	<!--MAIN CONTENT STARTS HERE -->
	<div class="main-aboutus">
	<h2>Programas / Programs</h2>
                <p><strong>Clases de Ingl&eacute;s / English Classes</strong></p>

                <p>Las clases de Ingl&eacute;s son el programa m&aacute;s popular del Centro.  Usted encontrar&aacute; que en el Centro, se imparten m&aacute;s de una clase de Ingl&eacute;s por d&iacute;a.   Nuestros maestros voluntarios disfrutan ense&ntilde;ando a  los estudiantes, mejorando a la vez su Espa&ntilde;ol.  Las clases son muy  agradables y todas las personas participantes se benefician de ellas.</p>
<p><em>English classes are the most popular program at the Center. You'll find one or more English classes being taught at the Center each day. Our volunteer teachers enjoy working with students and improving their own Spanish. So the classes are fun and beneficial for all.</em><p>

                <p><strong>Comisi&oacute;n de Trabajadores / Workers' Commission</strong></p>

                <p>La Comisi&oacute;n de Trabajadores es elegida por los trabajadores del Centro y gobierna las operaciones diarias del Centro.  Esta comisi&oacute;n es una de las mejores formas de retribuir al Centro y a sus compa&ntilde;eros trabajadores, y provee una oportunidad de adquirir  nuevas destrezas.  </p>
<p><em>The Worker's Commission is elected by the workers at the Center and governs the day-to-day operations at the Center. The commission is a great way to give back to the Center and your fellow workers, and is a unique opportunity to learn new skills.</em><p>


			    <p><strong>Cuidado de la Salud / Health Care</strong>
			    <p>Una camioneta  visita el Centro por lo menos una vez por semana para atender necesidades m&eacute;dicas simples.</p>
<p><em>A medical van visits the Center at least once a week to address simple medical needs.</em></p>               
			    
<p><strong>Otros Programas / Other Programs</strong>
			    <p>
<ul class="bullet">
<li>Clases para completar el equivalente de Estudios Secundarios (GED) / High School Equivalency classes (GED)</li>
<li>Clases de computaci&oacute;n / Computer classes</li>
<li>Entrenamiento de destrezas laborales / Job skills training</li>
<li>Costura / Sewing</li>
</ul>

<p><em>Llame para adquirir informaci&oacute;n acerca de nuestros programas gratis.</p>
<p>Call for the latest information on our free programs</em></p>

			</div>
