<div class="container">
	<div class="row">
		<div class="col s12 m4 l3 subnavsidecontainer">
			<!--IMAGES START HERE -->
			<img class="subnavsideimg empowering sidebar quote" src="../images/empowering_others.png" alt="[Empowering Others Quote]" align="right" />
			<!--IMAGES END HERE -->
		</div>
		<!--SUB NAV BAR STARTS HERE -->
		<div class="col s12 m8 l9 main_content">
			<div class="subnavcontainer">
				<ul class="subnav">
					<li class="subnav"><a href="#/workers/programs">Programs | </a></li>
					<li class="subnav"><a href="#/workers/success_stories">Success Stories | </a></li>
					<li class="subnav"><a href="#/workers/faq">Frequently Asked Questions </a></li>
				</ul>
			</div>
			<img class="subnavimg" src="../images/forWorkers.png" alt="[DWC Members picture]"/>
		</div>
	<!--SUB NAV BAR ENDS HERE -->
	</div>

	<!--SIDE NAV STARTS HERE -->
	<div class="row">
		<div class="col s12 m4 l3 teal subnavsidecontainer">
			<h4>Worker Success Stories</h4>
			<hr/>
			<ul>
                <li>&raquo; <a href="#/workers/success_stories/4th_of_july_picnic" target="_blank">4th of July Picnic</a></li>
			  	<li>&raquo; <a href="/workers/success/carlos.pdf" target="_blank">Carlos</a></li>
				<li>&raquo; <a href="/workers/success/freddy_emily.pdf" target="_blank">Freddy &amp; Emily</a></li>
				<li>&raquo; <a href="/workers/success/javier_bebi.pdf" target="_blank">Javier &amp; Beby</a></li>
			    <li>&raquo; <a href="/workers/success/marco.pdf" target="_blank">Marco</a></li>
			    <li>&raquo; <a href="/workers/success/maria_and_jim.pdf" target="_blank">Maria &amp; Jim</a></li>
			</ul>
			<div class="white">
				<p>THIS SHOULD BE A CLEAR SEPARATION</p>
				<br class="white">	
			</div>					
			<h5>Centro de los Trabajadores de Mountain View</h5>
			<hr/>
			<h5>Al servicio de la comunidad de Mountain View y sus alrededores desde 1996</h5>

			<p>Abierto de Lunes a S&aacute;bado, 7am - 5pm</p>
			<p>113 Escuela Avenue<br>
			Mountain View, CA, 94040<br>
			650-903-4102<br>
			<a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>

			<hr/>

			<h5>Diario de los Trabadores del Centro</h5>

			<p>Visite el  <a href="http://dayworkersjournal.wordpress.com/"
			target="_blank" title="Visit the Day Workers Journal">Diario de los Trabajadores del Centro</a>, un blog del "Centro de los Trabajadores" acerca de sus trabajadores.</p>
			<hr/>
			<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
		</div>
		<!--SIDE NAV ENDS HERE-->

		<!--MAIN CONTENT STARTS HERE -->
		<div class="col s12 m8 l9 grey main_content">
			<div class="main-aboutus career">
			<h3>Historias Exitosas / Success Stories</h3>
			<a name="1"></a>
				<!--<div class="box"><img src="/img/img_employer1.jpg" alt="Mary Francis" /></div>-->
				<h4>Josefina Bail&oacute;n, 39, Puebla, Mexico </h4>
			  <h5 class="title">20 de Marzo, 2007 ... March 20, 2007</h5>
				<p><em>Yo cre&iacute;a que una vez que pisara suelo Americano,  ser&iacute;a una persona libre.  Cre&iacute;a que  &eacute;sta era una naci&oacute;n construida  por inmigrantes, una naci&oacute;n llena de oportunidades y de trabajo.  Este es el sue&ntilde;o.   La gente que naci&oacute; aqu&iacute;, a veces tambi&eacute;n nuestros ni&oacute;os, no entienden las dificultades pasadas para tener una vida mejor para nosotros y nuestras familias.  Ellos no entienden el significado de lo que es la pobreza extrema; no saben lo que es no tener zapatos que ponerse, no poder ir a la escuela o no tener nada que comer.  Ellos no entienden la desesperaci&oacute;n que siente la gente cuando no tiene absolutamente nada.</em></p>

					<p>I thought that once I stepped onto American soil, 
				  I would be a free person. I thought that here was a 
				  nation made by immigrants, full of opportunity, full of 
				  jobs, that is the dream. 
				  People who are born here, even our 
				  own kids at times, don&rsquo;t understand the 
				  struggle to make life better for yourself 
				  and your family. They don&rsquo;t understand 
				  what extreme poverty is, not to 
				  have shoes to wear, not to be able to go 
				  to school, not to even have food to eat. 
				  They don&rsquo;t see the desperation people 
				  feel who have absolutely nothing.			    </p>


<p><em>Antes de cruzar el borde, yo pas&eacute; un mes en Tijuana con mis ni&ntilde;os, viviendo de lo encontrado en tambos de basura.  En Tijuana la gente es muy dura y no hay trabajo.   Las mujeres tambi&eacute;n somos trabajadoras; tenemos familias que mantener y no podemos estar en la calle a merced de otros.</em></p>

<p>Before we crossed the border, I spent 
				  a month in Tijuana with my children, 
				  living out of trashcans. People are hard 
				  there; there&rsquo;s no work. Many day workers 
				  are women. We have children to raise, we have 
				  families to support, we can&rsquo;t be in the street, at anyone&rsquo;s 
			    mercy. </p>

<p><em>Hay personas que creen que nosotros somos ladrones, que venimos aqu&iacute; a vivir de la caridad pero esto no es verdad.  Nosotros no somos criminales; estamos aqu&iacute; para trabajar.  Lo que queremos es ser reconocidos por el trabajo que hacemos.   Yo sol&iacute;a trabajar para compa&ntilde;&iacute;as  cuyos salarios eran extremadamente bajos y algunas veces ten&iacute;amos que esperar cinco o seis semanas para recibir nuestros salarios.  Gracias al Centro, tenemos la oportunidad de encontrar trabajos que tienen mejores salarios.</em></p>

				<p>There are people who say that we&rsquo;re 
				  thieves, coming here to live on welfare, but it&rsquo;s not 
				  true. We are not criminals. We are here to work. We 
				  just want to be recognized for the work we do. 
				  I used to work for different companies where the 
				  pay was extremely low, and sometimes we had to wait 
				  five or six weeks to get paid. Thanks to the Center, 
				  we have the opportunity to find work that pays a better 
				  salary. </p>

<p><em>Yo he vivido en este pa&iacute;s por 14 a&ntilde;os y no fue hasta que vine al Centro que tuve la oportunidad de tomar clases de Ingl&eacute;s.  Todos nosotros queremos aprender.  En el Centro, cuando nosotros no estamos trabajando, estamos estudiando y aprendiendo.  Ahora mis hijos se est&aacute;n graduando de la escuela secundaria y uno asiste a la universidad.  Ellos est&aacute;n viviendo la oportunidad que vivir aqu&iacute; les otorga.  Yo estoy muy agradecida por &eacute;sto.  Lo que nosotros queremos es una oportunidad para trabajar.</em></p>

				<p>I&rsquo;ve been in this country for 14 years and I&rsquo;ve 
				  never had the opportunity to take English classes until 
				  I came to the Center. All of us want to learn. At the 
				  Center, when we&rsquo;re not working, we&rsquo;re studying and 
				  learning. Now, one of my children is graduating from high 
				  school and one is attending university. They are living 
				  the opportunity that coming here has given to them. 
			    I&rsquo;m very grateful for that. All we want is an opportunity.<em></p>

				<hr/>

				<div class="clearfix">
					<div class="box"><img src="../images/carlos.jpg" alt="Carlos" width="212" height="121" border="0" /></div>
					<div class="story">
						<h4>Carlos</h4>
						<p><em>"The Center guides and orients us, and refers us to other services when we need them"</em><br /> &mdash;Carlos</p>
	  					<p><a href="/workers/success/carlos.pdf" target="_blank" class="more">Read More &gt;</a></p>
				  	</div>
				</div>
				<hr/>
				<div class="clearfix">
					<div class="box"><img src="../images/freddie_emily.jpg" alt="Freddy and Emily" width="212" height="121" border="0" /></div>
					<div class="story">
						<h4>Freddy and Emily</h4>
						<p><em>"We lost our home and entire crop in Hurricane Stan.  <br>We came here from pure desperation... Here, we are accomplishing our dreams"</em><br /> &mdash;Freddy</p>
					    <p><a href="/workers/success/freddy_emily.pdf" target="_blank" class="more">Read More &gt;</a></p>
				  	</div>
				</div>
				<hr/>
				<div class="clearfix">
					<div class="box"><img src="../images/javier_bebi.jpg" alt="Javier and Beby" width="213" height="121" border="0" /></div>
					<div class="story">
						<h4>Javier and Beby</h4>
						<p><em>"I came here with nothing...through the Center I had the good fortune to find work, <br> a scholarship and the opportunity to study"</em><br /> &mdash;Javier</p>
					    <p><a href="/workers/success/javier_bebi.pdf" target="_blank" class="more">Read More &gt;</a></p>
				    </div>
				</div>
				<hr/>
				<div class="clearfix">
                <div class="box"><img src="../images/marco.jpg" alt="Marco" width="212" height="120" border="0" /></div>
					<div class="story">
						<h4>Marco</h4>
						<p><em>"The reward is "payback"- to be able to pay back to the community with my first aid and lifesaving skills. <br> I train teachers for the Red Cross CERT program"</em><br /> &mdash;Marco</p>
					    <p><a href="/workers/success/marco.pdf" target="_blank" class="more">Read More &gt;</a></p>
		    		</div>
				</div>
				<hr/>
				<div class="box"><img src="../images/maria_and_jim.jpg" alt="Maria and Jim" width="213" height="121" border="0" /></div>
					<div class="story">
						<h4>Maria and Jim</h4>
						<p><em>"This is my idea of America-how America can work"</em><br /> &mdash;Javier</p>
					    <p><a href="/workers/success/maria_and_jim.pdf" target="_blank" class="more">Read More &gt;</a></p>
		    		</div>
				</div>
			<!--<a name="2"></a>
				<div class="box"><img src="/img/img_employer2.jpg" alt="John Smith" /></div>
				<h4>John Smith</h4>
				<h4 class="title"><em>Title of Article</em> | March 20, 2007</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut tincidunt erat quis pede. Etiam eget justo. Fusce tortor neque, sodales sodales, semper vitae, venenatis sit amet, ipsum. Nullam id sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam adipiscing velit in dolor. Nam at odio. Vestibulum bibendum massa ac ante. Vivamus pellentesque. Sed risus dui, facilisis id, dapibus sit amet, luctus ut, urna. Integer ac neque. Praesent ante augue, pulvinar ut, tristique nec, convallis posuere, odio. Duis ornare. Vestibulum odio dui, euismod sed, sagittis in, ultricies quis, felis. Praesent lobortis dignissim orci. Curabitur consectetuer massa in purus. Integer metus massa, faucibus eget, semper id, venenatis in, mi. Sed mi purus, varius ac, porta cursus, mollis vel, ipsum. Nulla orci. Proin congue.</p>
<p>
In lacinia. Sed sit amet tellus vitae velit convallis varius. Nullam ullamcorper, odio ut vehicula tincidunt, tellus quam semper dui, non posuere turpis odio vel est. Proin dictum nunc sit amet nunc. In in urna eget velit dignissim feugiat. Vestibulum diam risus, vestibulum in, congue ac, placerat eget, odio. Nam ut velit.</p>
				<a href="#top" class="top">Back to Top</a>
				<hr/>
				<a name="3"></a>
				<div class="box"><img src="/img/img_employer1.jpg" alt="Mary Francis" /></div>
				<h4>Paula Chang</h4>
				<h4 class="title"><em>Title of Article</em> | March 2, 2007</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut tincidunt erat quis pede. Etiam eget justo. Fusce tortor neque, sodales sodales, semper vitae, venenatis sit amet, ipsum. Nullam id sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam adipiscing velit in dolor. Nam at odio. Vestibulum bibendum massa ac ante. Vivamus pellentesque. Sed risus dui, facilisis id, dapibus sit amet, luctus ut, urna. Integer ac neque. Praesent ante augue, pulvinar ut, tristique nec, convallis posuere, odio. Duis ornare. Vestibulum odio dui, euismod sed, sagittis in, ultricies quis, felis. Praesent lobortis dignissim orci. Curabitur consectetuer massa in purus. Integer metus massa, faucibus eget, semper id, venenatis in, mi. Sed mi purus, varius ac, porta cursus, mollis vel, ipsum. Nulla orci. Proin congue.</p>
<p>
In lacinia. Sed sit amet tellus vitae velit convallis varius. Nullam ullamcorper, odio ut vehicula tincidunt, tellus quam semper dui, non posuere turpis odio vel est. Proin dictum nunc sit amet nunc. In in urna eget velit dignissim feugiat. Vestibulum diam risus, vestibulum in, congue ac, placerat eget, odio. Nam ut velit.</p>
				<a href="#top" class="top">Back to Top</a>
				<hr/>
				
			</div> -->
			
			