<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
		    <li class="subnav"><a href="#/workers/programs">Programs | </a></li>
			<li class="subnav"><a href="#/workers/success_stories">Success Stories | </a></li>
			<li class="subnav"><a href="#/workers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
	</div>
    <div class="row">
<div class="col s12 m4 l4"> 
		<div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div>
</div>
	<img div class="col s12 m12 l8" src="../images/DWC_workers.jpg" alt="[DWC Members picture]"/>
</div>
<div class="row">
	<div class="col s12 m4 l4"> 
		<!-- <div class="card small hide-on-med-and-down">
		<div class="card-image">
        	<img src="./../../images/statement_bgrd.gif">
          	<span class="card-title">Empowering Others</span>
        </div>
        <div class="card-content">
          	<p>"We are realizing our dreams here"</p>
			<p>"Aqui estamos realizando nuestros suenos"</p>
        </div>
	</div> -->
	    <h4>Worker Success Stories</h4>
		<hr/>
		<ul>
            <li>&raquo; <a href="#/workers/success_stories/4th_of_july_picnic" target="_blank">4th of July Picnic</a></li>
		  	<li>&raquo; <a href="/workers/success/carlos.pdf" target="_blank">Carlos</a></li>
			<li>&raquo; <a href="/workers/success/freddy_emily.pdf" target="_blank">Freddy &amp; Emily</a></li>
			<li>&raquo; <a href="/workers/success/javier_bebi.pdf" target="_blank">Javier &amp; Beby</a></li>
		    <li>&raquo; <a href="/workers/success/marco.pdf" target="_blank">Marco</a></li>
		    <li>&raquo; <a href="/workers/success/maria_and_jim.pdf" target="_blank">Maria &amp; Jim</a></li>
		</ul>					
		<h5>Centro de los Trabajadores de Mountain View</h5>
		<hr/>
		<h5>Al servicio de la comunidad de Mountain View y sus alrededores desde 1996</h5>

		<p>Abierto de Lunes a S&aacute;bado, 7am - 5pm</p>
		<p>113 Escuela Avenue<br>
		Mountain View, CA, 94040<br>
		650-903-4102<br>
		<a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>
		<hr/>
		<h5>Diario de los Trabadores del Centro</h5>

		<p>Visite el  <a href="http://dayworkersjournal.wordpress.com/"
		target="_blank" title="Visit the Day Workers Journal">Diario de los Trabajadores del Centro</a>, un blog del "Centro de los Trabajadores" acerca de sus trabajadores.</p>
		<hr/>
		<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
  	</div>
  
  	<div class="col s12 m8 l8">
	    <!--MAIN CONTENT STARTS HERE -->
	    <div class="main-aboutus">
			<h3>Trabajadores / Workers</h3>
			<p class="intro">&iexcl;Bienvenidos! "El Centro de los Trabajadores de Mountain View" se compromete a proveer las herramientas necesarias para ayudarle a usted como trabajador y como miembro de esta comunidad.  Estamos aqu&iacute; para asistirle a construir una vida m&aacute;s placentera para el bien suyo, de su familia y de nuestro vecindario.</p>

			<p><em>Welcome! The Day Worker Center of Mountain View is committed to providing tools to empower you as a worker and as a member of this community. We are here to help you to build a good life, for the good of your family and for the good of our neighborhood. </em></p>

			<p>Sentimos gran orgullo de poder apoyarle en sus esfuerzos, otorgando servicios de empleo gratis como lo son la b&uacute;squeda del empleador adecuado y entrenamiento ocupacional.  Tambi&eacute;n tratamos de ayudarle a que se integre plenamente a la vida de nuestra comunidad ofreciendo clases de Ingl&eacute;s, Ingl&eacute;s como segunda lengua (ESL), y de c&oacute;mo tomar ventaja de algunos servicios sociales entre otras.</p>

			<p><em>We are proud to support you in your efforts by providing free employment services, such as employer matching and occupational training. We also seek to help you enter more fully into the life of the community by offering classes in English as a Second Language (ESL), and how to take advantage of various social services. You are welcome: to join our family ... to share your talents ... to be a valuable part of the community.</em></p>
							
			<hr/>

			<h3>La Comisi&oacute;n de los Trabajadores / The Workers' Commission</h3>

			<p>La Comisi&oacute;n de los Trabajadores es el consejo formado por sus compa&ntilde;eros miembros del Centro.  Est&aacute; formada y es elegida por la comunidad de trabajadores para supervisar las operaciones diarias del centro.  Esta comisi&oacute;n es un medio muy poderoso de ayudar al centro y a sus compa&ntilde;eros trabajadores y tambi&eacute;n provee una oportunidad &uacute;nica para continuar enriqueciendo sus habilidades.</p>

			<p><em>The Workers' Commission is a council of your peers where worker-elected members oversee day to day operations of the center. The commission is a powerful way to help the center and your fellow workers and provides a unique opportunities to grow your skills.<em></p>

			<p>Para ver una lista de las clases gratis y los programas que provee el centro, visite la p&aacute;gina <a href="#/workers/programs">Programas</a>.
			<p><em>For a list of free classes and programs, visit the <a href="#/workers/programs">Programs</a> page.</em> 
			<hr />
			<p><em>"El Centro nos gu&iacute;a y orienta; as&iacute; como nos refiere a otros servicios cuando necesitamos de ellos" <em> &mdash; Carlos ... lea m&aacute;s  <a href="#/workers/success_stories">historias como &eacute;sta</a>.</em>
			<p><em>"The Center guides and orients us, and refers us to other services when we need them"</em> &mdash; Carlos ... read more <a href="#/workers/success_stories">stories like this</a>.</p>
		</div>
	</div>
</div>