<div class="container">
	<div class="row">
		<div class="col s12 m4 l3 subnavsidecontainer">
			<!--IMAGES START HERE -->
			<img class="subnavsideimg empowering sidebar quote" src="../images/empowering_others.png" alt="[Empowering Others Quote]" align="right" />
			<!--IMAGES END HERE -->
		</div>
		<!--SUB NAV BAR STARTS HERE -->
		<div class="col s12 m8 l9 main_content">
			<div class="subnavcontainer">
				<ul class="subnav">
					<li class="subnav"><a href="#/volunteers/signup">Sign Up | </a></li>
					<li class="subnav"><a href="#/volunteers/opportunities">Opportunities | </a></li>
					<li class="subnav"><a href="#/volunteers/success_stories">Success Stories | </a></li>
					<li class="subnav"><a href="#/volunteers/faq">Frequently Asked Questions </a></li>
				</ul>
			</div>
			<img class="subnavimg" src="../images/dwc_volunteers.png" alt="[DWC Members picture]"/>
		</div>
	<!--SUB NAV BAR ENDS HERE -->
	</div>

	<!--SIDE NAV STARTS HERE -->
	<div class="row">
		<div class="col s12 m4 l3 teal subnavsidecontainer"> 
			<h4>Day Worker Center of Mountain View</h4>
			<hr/>
			<h5>Serving Mountain View and surrounding communities since 1996</h5>
			<p>Open Monday to Saturday, 7am - 5pm</p>		
			<p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>		
			<hr/>
			<h5>Day Worker Center Newsletter</h5>
			<p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
			<h5>Day Workers' Journal</h5>
			<p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank"title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
			<hr/>
			<p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
		</div>
		<div class="col s12 m8 l9 grey main_content">
			<div class="main-aboutus career">
			<h3>Sign Up</h3>
	            <p style="line-height:1.6em;">If you'd like to volunteer at the center or find out more about volunteering, 
	               please fill out this form and our Volunteer Coordinator will contact you.<br />
				   (* indicate required fields)</p>

								<form id="cSignup" name="cSignup" action="/volunteer/signup.php"
					      method="post" class="form">
		                <fieldset>
			                <div>
								<label for="firstName">* First Name:</label>
								<div class="iefix">
									<input id="firstName" name="firstName" type="text" class="type_text" required
									       value="" />
								</div>
			                </div>
			                <div>
								<label for="lastName">* Last Name:</label>
								<div class="iefix">
									<input id="lastName" name="lastName" type="text" class="type_text" required
									       value="" />
								</div>
			                </div>
							<div>
								<label for="email">E-mail Address:</label>
								<div class="iefix">
									<input id="email" name="email" type="text" class="type_text" 
									       value="" />
								</div>
							</div>
							<div>
								<label for="phone">Phone:</label>
								<div class="iefix">
									<input id="phone" name="phone" type="text" class="type_text" 
									       value="" />
								</div>
							</div>
							(* One of E-mail Address or Phone is required)<br /><br />
							<div>
								<label for="message">* What I can do:</label>
								<div class="iefix">							
									<textarea id="message" name="message" required
									          class="type_text"></textarea>
								</div>
							</div>
							
							<div>
								<label for="mcaptcha">* Answer math question:</label>
								<img src="../vendor/math_captcha/image.php" 
									alt="Click to reload image" title="Click to reload image" id="captcha" 
									onclick="reloadCaptcha()" /><br>
								<input type="text" id="mcaptcha" name="mcaptcha" class="type_text" style="margin-top:6px;width:150px;" required
									       value="" />
							</div>
							
							<div>
								<div class="iefix">
									<input type="submit" name="cSubmit" value="Submit" style="padding:6px 20px;color:#C25028"/>
								</div>
							</div>
		                </fieldset>
		            </form>
					<script type="text/javascript">
						if (document.getElementById) {
							var cSignupId = document.getElementById("cSignup");
							cSignupId.elements['firstName'].focus();
						}
						else {
							this.form.elements['firstName'].focus();
						}

						function reloadCaptcha() {
							document.getElementById('captcha').src = document.getElementById('captcha').src+ '?' +new Date();
						}
					</script>
							
			</div><!-- RH content -->
			
			<div id="overlay"></div>
		</div>