<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l6">
    <ul class="subnav">
      <li class="subnav"><a href="#/volunteers/signup">Sign Up | </a></li>
      <li class="subnav"><a href="#/volunteers/opportunities">Opportunities | </a></li>
      <li class="subnav"><a href="#/volunteers/success_stories">Success Stories | </a></li>
      <li class="subnav"><a href="#/volunteers/faq">Frequently Asked Questions </a></li>
    </ul>
  </div>
  </div>
<div class="row">
<div class="col s12 m4 l4">
    <div class="card small hide-on-med-and-down">
      <div class="card-image">
              <img src="./../../images/statement_bgrd.gif">
              <span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
              <p>"We are realizing our dreams here"</p>
        <p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
    </div>
</div>
  <img div class="col s12 m8 l8" src="../images/DWC_volunteer.jpg" alt="[DWC Members picture]"/>
  </div>


<div class="row">
  <div class="col s12 m4 l4">
    <!-- <div class="card small hide-on-med-and-down">
      <div class="card-image">
              <img src="./../../images/statement_bgrd.gif">
              <span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
              <p>"We are realizing our dreams here"</p>
        <p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
    </div> -->
	    <h3>Donate:</h3>
	    <hr/>
	    <h4>How do I donate?</h4>
	    <p>Your donations make our work possible. Please send your donations to: Day Worker Center of Mountain View, 113 Escuela Ave., Mountain View, CA 94040 or call us at 650-903-4102 to talk about options for donations, or to learn how you can assist with our fundraising efforts for the Center. <a href="#/donate">Learn more.</a></p>
	</div>

  	<div class="col s12 m8 l8">
	    <!--MAIN CONTENT STARTS HERE -->
	    <div class="main-aboutus">
			<h2>Volunteer</h2>
			<p>Volunteering at the Day Workers' Center is fun and rewarding. We have a wide range of opportunities at the Center. When you give your time to the DWCMV, you are investing in a stronger community and in the lives of people who are working to do their part for their families and neighborhood. Volunteering enables you to witness the difference you are making and be a conduit for positive change. Check the <a href="#/volunteers/opportunities">Opportunities</a> page to see how you can get involved.</p>
			<p>You can work as little or as much as your schedule allows, but, be careful - volunteering at the Center can be addicting! Check our <a href="#/volunteers/success_stories">Success Stories</a> to see what we mean. </p>
			<p>Interested? If so, please fill out the simple <a href="#/volunteers/signup">Volunteer Sign-up Form</a> and we'll be in touch soon.</p>
		</div>
	</div>
</div>
