<div class="container">
	<div class="row">
		<div class="col s12 m4 l3 subnavsidecontainer">
			<!--IMAGES START HERE -->
			<img class="subnavsideimg empowering sidebar quote" src="../images/empowering_others.png" alt="[Empowering Others Quote]" align="right" />
			<!--IMAGES END HERE -->
		</div>
		<!--SUB NAV BAR STARTS HERE -->
		<div class="col s12 m8 l9 main_content">
			<div class="subnavcontainer">
				<ul class="subnav">
					<li class="subnav"><a href="#/volunteers/signup">Sign Up | </a></li>
					<li class="subnav"><a href="#/volunteers/opportunities">Opportunities | </a></li>
					<li class="subnav"><a href="#/volunteers/success_stories">Success Stories | </a></li>
					<li class="subnav"><a href="#/volunteers/faq">Frequently Asked Questions </a></li>
				</ul>
			</div>
			<img class="subnavimg" src="../images/dwc_volunteers.png" alt="[DWC Members picture]"/>
		</div>
	<!--SUB NAV BAR ENDS HERE -->
	</div>

	<!--SIDE NAV STARTS HERE -->
	<div class="row">
		<div class="col s12 m4 l3 teal subnavsidecontainer">
		    <h3>Donate:</h3>
		    <hr/>
		    <h4>How do I donate?</h4>
		    <p>Your donations make our work possible.
			   Please send your donations to:
			    Day Worker Center of Mountain View, 113 Escuela Ave., Mountain View, CA 94040 or
				call us at 650-903-4102 to talk about options for donations, or to learn 
				how you can assist with our fundraising efforts for the Center. <a href="/donate.php">Learn more.</a>
		    </p>
		</div>
		<div class="col s12 m8 l9 grey main_content">
			<div class="main-aboutus career">
				<h2>Volunteer</h2>
				<p>Volunteering at the Day Workers' Center is fun and rewarding. We have a wide range of opportunities at the Center. When you give your time to the DWCMV, you are investing in a stronger community and in the lives of people who are working to do their part for their families and neighborhood. Volunteering enables you to witness the difference you are making and be a conduit for positive change. Check the <a href="#/opportunities">Opportunities</a> page to see how you can get involved.</p>
				<p>You can work as little or as much as your schedule allows, but, be careful - volunteering at the Center can be addicting! Check our <a href="#/volunteers/success_stories">Success Stories</a> to see what we mean. </p>
				<p>Interested? If so, please fill out the simple <a href="#/signup">Volunteer Sign-up Form</a> and we'll be in touch soon.</p>
			</div>
		</div>
	</div>
</div>