<div class="row">
	<div class="col s12 m8 offset-m2 l6 offset-l6">
		<ul class="subnav">
		    <li class="subnav"><a href="#/volunteers/signup">Sign Up | </a></li>
		    <li class="subnav"><a href="#/volunteers/opportunities">Opportunities | </a></li>
		    <li class="subnav"><a href="#/volunteers/success_stories">Success Stories | </a></li>
		    <li class="subnav"><a href="#/volunteers/faq">Frequently Asked Questions </a></li>
		</ul>
	</div>
    </div>
<div class="row">
<div class="col s12 m4 l4">
    <div class="card small hide-on-med-and-down">
      <div class="card-image">
              <img src="./../../images/statement_bgrd.gif">
              <span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
              <p>"We are realizing our dreams here"</p>
        <p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
    </div>
</div>
  <img div class="col s12 m8 l8" src="./../images/DWC_volunteer.jpg" alt="[DWC Members picture]"/>
  </div>


<div class="row">
  <div class="col s12 m4 l4">
    <!-- <div class="card small hide-on-med-and-down">
      <div class="card-image">
              <img src="./../../images/statement_bgrd.gif">
              <span class="card-title">Empowering Others</span>
            </div>
            <div class="card-content">
              <p>"We are realizing our dreams here"</p>
        <p>"Aqui estamos realizando nuestros suenos"</p>
            </div>
    </div> -->
	    <h4>Day Worker Center of Mountain View</h4>
	    <hr/>
	    <h5>Serving Mountain View and surrounding communities since 1996</h5>
	    <p>Open Monday to Saturday, 7am - 5pm</p>
	    <p>113 Escuela Avenue<br>Mountain View, CA, 94040<br>650-903-4102<br><a href="mailto:info@dayworkercentermv.org" class="email">info@dayworkercentermv.org</a>.</p>
	    <hr/>
	    <h5>Day Worker Center Newsletter</h5>
	    <p>Read <a href="#/aboutus/newsletters">the current Newsletter</a></p>
	    <h5>Day Workers' Journal</h5>
	    <p>Visit the <a href="http://dayworkersjournal.wordpress.com/" target="_blank" title="Visit the Day Workers Journal">Day Workers' Journal</a>, a Day Worker Center blog by and about the workers.</p>
	    <hr/>
	    <p><a href="http://www.facebook.com/pages/Day-Worker-Center-of-Mountain-View/135770265238" target="_blank" title="Visit our Facebook page"><img src="../images/facebook_find_us_on_facebook.gif" alt="Find us on Facebook" border="0" /></a></p>
  	</div>

  	<div class="col s12 m8 l8">
	    <!--MAIN CONTENT STARTS HERE -->
	    <div class="main-aboutus">
			<h3>Success Stories</h3>
			<p>Our volunteers find their experience at the Center to be rewarding and fun. Every volunteer has a different story, but we commonly hear that they enjoy the workers and learn so much from them that they often volunteer for years to come.</p>

			<h4>Richard</h4>
			<p><img src="../images/img_success_richard.jpg" align="left"/>Richard owns and manages rental properties. Ten years ago he had an emergency clean-up job and needed help immediately. He had seen groups of laborers standing on El Camino Real so he drove there and was surrounded by 15 people seeking work. Despite his basic Spanish, he found the experience to be intimidating
			<p>He subsequently heard about a new Day Worker Center that had recently opened. He was happy to find the necessary help in an office environment. He explained what kind of assistance he needed and was matched with two laborers.</p>
			<p>Having had a good experience as an employer, he returned to the center to volunteer as an English instructor. Richard wanted to improve his Spanish too so this was a great fit for him. After several years teaching English to a class or two each week, Richard still enjoys each class and is happy to be making a difference in the lives of the workers.</p>
			<hr />
			<h4>David </h4>
			<p><em>"I consider it an privilege to give my time to the Center. The comprehensive support and services offered here are inspiring to me, and I'm moved to do what I can to help the Center achieve its mission. I am particularly excited about the efforts being made to improve community connections between the day workers and the long-term residents of our neighborhoods.</p>
			<p>"Throughout the Center I see a deep respect for the dignity of all people: it's an honor to be a part of this work."</em></p>
		</div>
	</div>
</div>
